<h1>Listing bmet_item_parts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Facility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bmet_item_parts.each do |bmet_item_part| %>
      <tr>
        <td><%= bmet_item_part.name %></td>
        <td><%= bmet_item_part.facility %></td>
        <td><%= link_to 'Show', bmet_item_part %></td>
        <td><%= link_to 'Edit', edit_bmet_item_part_path(bmet_item_part) %></td>
        <td><%= link_to 'Destroy', bmet_item_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmet item part', new_bmet_item_part_path %>
