<%= simple_form_for(@bmet_item_history) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :bmet_item %>
    <%= f.input :bmet_item_status %>
    <%= f.input :bmet_item_condition %>
    <%= f.input :remarks %>
    <%= f.input :work_order %>
    <%= f.input :work_order_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
