<p id="notice"><%= @language['Notice'] %></p>

<p>
  <strong><%= @language['Item']%>:</strong>
  <%= @item_history.bmet_item_id %>
</p>

<p>
  <strong><%= @language['Date/Time']%>:</strong>
  <%= @item_history.datetime %>
</p>

<p>
  <strong><%= @language['Status']%>:</strong>
  <%= @item_history.status %>
</p>

<p>
  <strong><%= @language['Utilization']%>:</strong>
  <%= @item_history.utilization %>
</p>

<p>
  <strong><%= @language['Remarks']%>:</strong>
  <%= @item_history.remarks %>
</p>

<%= link_to @language['Edit'], edit_bmet_item_history_path(@item_history) %> |
<%= link_to @language['Back'], bmet_item_histories_path %>
