<p id="notice"><%= notice %></p>

<p>
  <strong>Bmet item:</strong>
  <%= @bmet_item_history.bmet_item %>
</p>

<p>
  <strong>Bmet item status:</strong>
  <%= @bmet_item_history.bmet_item_status %>
</p>

<p>
  <strong>Bmet item condition:</strong>
  <%= @bmet_item_history.bmet_item_condition %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @bmet_item_history.remarks %>
</p>

<p>
  <strong>Work order:</strong>
  <%= @bmet_item_history.work_order %>
</p>

<p>
  <strong>Work order status:</strong>
  <%= @bmet_item_history.work_order_status %>
</p>

<%= link_to 'Edit', edit_bmet_item_history_path(@bmet_item_history) %> |
<%= link_to 'Back', bmet_item_histories_path %>
