<h1><%= "#{@language['Listing']} #{@language['Model'].pluralize}" %></h1>

<table>
  <thead>
    <tr>
		<th><%= "#{@language['Model']} #{@language['Name']}" %> </th>
		<th><%= "#{@language['Manufacturer']} #{ @language['Name']}"%></th>
		<th><%= "#{@language['Vendor' ]} #{@language['Name']}"%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.model_name %></td>
        <td><%= model.manufacturer_name %></td>
        <td><%= model.vendor_name %></td>
        <td><%= link_to @language['Show'], model %></td>
        <td><%= link_to @language['Edit'], edit_model_path(model) %></td>
        <td><%= link_to @language['Destroy'], model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{@language['New']} #{@language['Model']}", new_model_path %>
