<p id="notice"><%= notice %></p>

<p>
  <strong><%= @language['Model'] @language['Name'] %>:</strong>
  <%= @model.model_name %>
</p>

<p>
  <strong><%= @language['Manufacturer'] @language['Name'] %>:</strong>
  <%= @model.manufacturer_name %>
</p>

<p>
  <strong><%= @language['Vendor'] @language['Name'] %>:</strong>
  <%= @model.vendor_name %>
</p>

<%= link_to @language['Edit'], edit_model_path(@model) %> |
<%= link_to @language['Back'], models_path %>
