<p id="notice"><%= notice %></p>

<p>
  <strong>Model name:</strong>
  <%= @model.model_name %>
</p>

<p>
  <strong>Manufacturer name:</strong>
  <%= @model.manufacturer_name %>
</p>

<p>
  <strong>Vendor name:</strong>
  <%= @model.vendor_name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
