<div id='left-top'>
  <div id="top-dropdown">
    
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
    <%= t(:sort).capitalize %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= t(:select_attribute).titlecase %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
       <a onclick = "attrsort('datedue', 'desc')">
        <%= t(:due_date).titlecase %>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('dayssince')">
        <%= t(:days_until).titlecase %>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('ID')">
        <%=t(:id).capitalize%>
       </a>
       </div>
       <div>
       <a onclick = "attrsort('datecreated', 'desc')">
        <%=t(:date_created).titlecase%>
       </a>
       </div>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<%= "#{t(:view).capitalize}" %>
	<div class="dropdown">
			<a id="facworkorder_view" role="button" data-toggle="dropdown" href="#">
				<%= "#{t(:select).capitalize} #{t(:view).capitalize}:" %>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_view">
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/unhidden' %>">
						<%= "#{t(:visible).capitalize} #{t(:preventative_maintenances).titlecase}" %>                  
					</a>
				</div>
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/hidden' %>">
						<%= "#{t(:hidden).capitalize} #{t(:preventative_maintenances).titlecase}" %>
					</a>
				</div>
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/all' %>">
	          <%= "#{t(:all).capitalize} #{t(:preventative_maintenances).titlecase}" %>
					</a>
				</div>
			</ul>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    	<%= form_tag search_bmet_preventative_maintenances_path, method: 'get' do %>
      	<%= label_tag " " %>
      	<%= text_field_tag :q, params[:q] %>
      	<%= submit_tag :search %>
    <% end %>

  </div>

  <div id="top-button">
    <a href= "<%=new_bmet_preventative_maintenance_path%>" id='add-button'></a>
    <%= link_to t(:export_data).titlecase, bmet_preventative_maintenances_url+"/download" %>
  </div>
</div>
