<div id='left-top'>
  <div id="top-dropdown">
    
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
    <%= @language['Sort'] %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= @language['Select Attribute'] %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
       <a onclick = "sort_by_date('datedue')">
        <%= @language['Due Date'] %>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('dayssince')">
        <%= @language['Days Since'] %>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('ID')">
        <%=@language['ID']%>
       </a>
       </div>

      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<%= "View:" %>
	<div class="dropdown">
			<a id="facworkorder_view" role="button" data-toggle="dropdown" href="#">
				Select View:
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_view">
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/unhidden' %>">
						Visible Work Orders
					</a>
				</div>
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/hidden' %>">
						Hidden Work Orders
					</a>
				</div>
				<div>
					<a href="<%= bmet_preventative_maintenances_url+'/all' %>">
						All Work Orders
					</a>
				</div>
			</ul>
		</div>
  </div>

  <div id="top-button">
    <a href= "<%=new_bmet_preventative_maintenance_path%>" id='add-button'></a>
    <%= link_to @language["Export Data"], bmet_preventative_maintenances_url+"/download" %>
  </div>
</div>
