
<%= form_for(@bmet_preventative_maintenance) do |f| %>
  <% if @bmet_preventative_maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmet_preventative_maintenance.errors.count, "error") %> prohibited this bmet_preventative_maintenance from being saved:</h2>
      <ul><% @bmet_preventative_maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <div id="object-form-single-col">

    <div id="field-box_item-id">
      <div class="item-id">
        <%= @language['Preventative Maintenance'] %> # <%= @bmet_preventative_maintenance.id %>
      </div>
    </div>

    <div class="field-box">
      <div class="field-type"><%= @language['Last Date Checked'] %></div>
      <div class="field-info">
        <p><%= @bmet_preventative_maintenance.last_date_checked %></p></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Next Date'] %></div>
      <div class="field-info">
        <p><%= @bmet_preventative_maintenance.next_date %></p>
      </div>
    </div>
  	<div class="field-box">
      <div class="field-type"><%= @language['Days Since'] %></div>
      <div class="field-info">
        <p><%= @bmet_preventative_maintenance.days_since %></p>
      </div>
    </div>

    <div class="field-box">
      <div class="field-type"><%= @language['Days'] %></div>
      <div class="field-info"><%= f.number_field :days, :required => true %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Weeks'] %></div>
      <div class="field-info"><%= f.number_field :weeks %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Months'] %></div>
      <div class="field-info"><%= f.number_field :months %></div>
    </div>  
    <div class="field-box">
      <div class="field-type"><%= @language['Description'] %></div>
      <div class="field-info"><%= f.text_area :description, :required => true %></div>
    </div>
   
    <div class="actions">
      <%= f.submit @language['Save Changes']%>
    </div>
  </div>
<% end %>