<h1>Listing needs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Urgency</th>
      <th>Reason</th>
      <th>Remarks</th>
      <th>Stage</th>
      <th>Date requested</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.name %></td>
        <td><%= need.quantity %></td>
        <td><%= need.urgency %></td>
        <td><%= need.reason %></td>
        <td><%= need.remarks %></td>
        <td><%= need.stage %></td>
        <td><%= need.date_requested %></td>
        <td><%= link_to 'Show', need %></td>
        <td><%= link_to 'Edit', edit_need_path(need) %></td>
        <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Need', new_need_path %>
