<h1><%= @language['Listing'] @language['Need'].pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Name']%></th>
      <th><%= @language['Location']%></th>
      <th><%= @language['Model']%></th>
      <th><%= @language['Quantity']%></th>
      <th><%= @language['Urgency']%></th>
      <th><%= @language['Reason']%></th>
      <th><%= @language['Remarks']%></th>
      <th><%= @language['Stage']%></th>
      <th><%= @language['Date requested']%></th>
      <th><%= @language['User']%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.name %></td>
        <td><%= need.location_id %></td>
        <td><%= need.model_id %></td>
        <td><%= need.quantity %></td>
        <td><%= need.urgency %></td>
        <td><%= need.reason %></td>
        <td><%= need.remarks %></td>
        <td><%= need.stage %></td>
        <td><%= need.date_requested %></td>
        <td><%= need.user_id %></td>
        <td><%= link_to @language['Show'], need %></td>
        <td><%= link_to @language['Edit'], edit_need_path(need) %></td>
        <td><%= link_to @language['Destroy'], need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to @language['New'] @language['Need'], new_need_path %>
