<%= form_for(@facility_work_request) do |f| %>
  <% if @facility_work_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_work_request.errors.count, "error") %> prohibited this facility_work_request from being saved:</h2>
<ul> <% @work_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <% if params[:action] == 'new' %>
      <div class="field">
      <input type="hidden" name="facility_work_request[requester_id]" value=<%= session[:user] %>> </input>
      </div>
  <% elsif params[:action] == 'edit' %>
  <% end %>

  <div class="field">
    <%= @language['Item ID'] %><br>
	<%= f.number_field :id %>
  </div>

  <div class = "field">
  	<%= @language['Department'] %><br>
  	<%= f.text_area :department %>

  <div class="field">
    <%= @language['Location'] %><br>
    <%= f.text_area :location %>
  </div>

  <div class = "field">
  	<%= @language['Phone Number'] %><br>
  	<%= f.number_field :department %>
  </div>

  <div class = "field">
  	<%= @language['Email'] %><br>
  	<%= f.text_area :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>