<% @facility_work_request = FacilityWorkRequest.new %>
<%= form_for(@facility_work_request) do |f| %>
  <% if @facility_work_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_work_request.errors.count, "error") %> prohibited this facility_work_request from being saved:</h2>
<ul> <% @work_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <% if params[:action] == 'new' %>
      <div class="work_request_form-field">
      <input type="hidden" name="facility_work_request[requester_id]" value=<%= session[:user] %>> </input>
      </div>
  <% elsif params[:action] == 'edit' %>
  <% end %>

  <div class = "work_request_form-short">
    <%= @language['Requester'] %><br>
    <%= f.text_area :requester, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Department'] %><br>
  	<%= f.text_area :department, :required => true %>
  </div>

  <div class="work_request_form-long">
    <%= @language['Location'] %><br>
    <%= f.text_area :location, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Telephone number'] %><br>
  	<%= f.number_field :department, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Email'] %><br>
  	<%= f.text_area :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  </div>

  <div class = "work_request_form-long">
    <%= @language['Description'] %><br>
    <%= f.text_area :description, :required => true %>
  </div>

  <div class="actions">
    <%= recaptcha_tags %>
    <%= f.submit @language['Create Facility Work Request'] %>
  </div>
<% end %>
