<div id='left-top'>
  <div id="top-dropdown">
    &nbsp&nbsp&nbsp&nbsp
    <%= @language['Sort'] %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= @language['Select Attribute'] %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
       <a onclick = "sort_by_name('requester')">
        <%=@language['Requester']%>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('Department')">
        <%=@language['Department']%>
       </a>
       </div>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp
    <%= form_tag search_facility_work_requests_path, method: 'get' do %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag :search %>
    <% end %>
  </div>
  <div id="top-button">
    <%= link_to "", '#', onclick: "printmainpage(); return false;", :id => "print-button" %>
    <a href= "<%=new_facility_work_request_path%>" id='add-button'></a>
  </div>
</div>