<div id = "mid_facility-work-request">
  <ul id="mid-summary_ul">
    <% @facility_work_requests.each do |facility_work_request| %>
    <%= link_to(facility_work_request) do %>
      <li
      class="mid-summary_ul_li"
      requester="<%= facility_work_request.requester %>"
      department="<%= facility_work_request.department %>"
      ID="<%= facility_work_request.id %>"
      >
      	<div class="bullet-bar"></div>
        
        <div class="request_details">
          <p class="request_id">
            <%= @language['Work Request'] %> <%= facility_work_request.id %>:
          </p>
		  <p class="request_info">
			<%= @language['Requester'] %>: <%= facility_work_request.requester %> |
      <%= @language['Department'] %>: <%= facility_work_request.department %>
		  </p>

          <p class ="request_description">
             <%= facility_work_request.description[0...40] +  "..." %>
          </p>
        </div>
        <%= image_tag("rightarrow_black.png", class: "right-arrow") %>

        <div class="request_date">
          <div class="request_date_title"> <%= @language['Date Requested'] %>:</div>
          <%= facility_work_request.created_at.try(:strftime,"%^b %d") %>
        </div>

      </li>
      <hr class="mid-summary_ul_li_hr"><!--replace with border-->
    <% end %>
    <% end %>
  </ul>
</div>
