<% for facility_work_request in @facility_work_requests.each do %>
	<div>
		ID: <%= facility_work_request.id %>
	</div>
	<div>
		Requester: <%= facility_work_request.requester %>
	</div>
	<div>
		Department: <%= facility_work_request.department %>
	</div>
	<div>
		Creation Date: <%= facility_work_request.created_at %>
	</div>
	<div>
		<%= facility_work_request.description[0...50] + ". . ." %>
	</div>
<% end %>