<ul class="toggle-buttons">
  <li class="active"><a href="#view" data-toggle="tab">
  	<%= @language['View'] %>
  </a></li>
  <li><a href="#convert" data-toggle="tab"><%= @language['Convert to Work Order'] %></a></li>  
  <li>
    <% if @facility_work_request.destroyed? %>
  	  <%= link_to @language["Unhide"], hide_facility_work_request_path(@facility_work_request), title: "Unhide work request", rel: "tooltip", method: :put, :required => true %>
    <% else %>
  	  <%= link_to @language["Hide"], hide_facility_work_request_path(@facility_work_request), title: "Hide work request", rel: "tooltip", method: :put, :required => true %>
   <% end %>
  </li>
  <li><%= link_to @language["Delete Forever"], @facility_work_request, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>

</ul>

<div class="tab-content" id="object-form_top">
  <div class="tab-pane active" id="view">
  	<%= render :partial => 'object_view' %>
  </div>
  <div class="tab-pane" id="convert">
  	<%= render :partial => 'facility_work_orders/object_convert' %>  	
  </div>  
</div>
