<div>
	<p> ID: <%= @facility_work_request.id %>
	<p> Requested By: <%= @facility_work_request.requester %> </p>
	<p> Date Created: <%= @facility_work_request.created_at %> </p>
	<p> Last Updated: <%= @facility_work_request.updated_at %> </p>
	<p> Department: <%= @facility_work_request.department %> </p>
	<p> Location: <%= @facility_work_request.location %> </p>
	<p> Phone Number: <%= @facility_work_request.phone %> </p>
	<p> Email: <%= @facility_work_request.email %> </p>
	<p> Full Description: <%= @facility_work_request.description %> </p>

</div>	

<!--
<p>
        <strong><%#= @language['Date Requested'] %>:</strong>
        <%#= @work_request.date_requested %>
      </p>
      -->