<p>
  <strong><%= @language['Requester'] %>:</strong>
  <%= @facility_work_request.requester %>
</p>

<p>
  <strong><%= @language['Department'] %>:</strong>
  <%= @facility_work_request.department %>
</p>

<p>
  <strong><%= @language['Location'] %>:</strong>
  <%= @facility_work_request.location %>
</p>

<p>
  <strong><%= @language['Phone Number'] %>:</strong>
  <%= @facility_work_request.phone %>
</p>

<p>
  <strong><%= @language['Email'] %>:</strong>
  <%= @facility_work_request.email %>
</p>

<p>
  <strong><%= @language['Description'] %>:</strong>
  <%= @facility_work_request.description %>
</p>
