<div id='left-top'>
  <div id="top-dropdown">
    
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
    <%= @language['Sort'] %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= @language['Select Attribute'] %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
         <div>
         <a onclick = "sort_by_name('requester')">
          <%=@language['Requester']%>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_num('Department')">
          <%=@language['Department']%>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_num('ID')">
          <%=@language['ID']%>
         </a>
         </div>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<%= "View:" %>
	<div class="dropdown">
		<a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
			Select View
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
			<div>
				<a href="<%= bmet_work_requests_url+"/unhidden" %>">
					Visible Work Requests
				</a>
			</div>
			<div>
				<a href="<%= bmet_work_requests_url+"/hidden" %>">
					Hidden Work Requests
				</a>
			</div>
			<div>
				<a href="<%= bmet_work_requests_url+"/all" %>">
					All Work Requests
				</a>
			</div>
		</ul>
	</div>
  </div>
  <div id="top-button">
    <%= link_to "", '#', onclick: "printmainpage(); return false;", :id => "print-button" %>
    <a href= "<%=new_bmet_work_request_path%>" id='add-button'></a>
    <%= link_to "Export Data", bmet_work_requests_url+"/download" %>
  </div>
</div>
