<div id="object-form-single-col">

		<div id="field-box_item-id">
      		<div class="item-id">
        	<%= @language['Work Request'] %> # <%= @bmet_work_request.id %>
      		</div>
    	</div>
		<div class="field-box">
			<div class="field-type"> <%= @language['Requester'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.requester %></p></div>
		</div>

		<div class="field-box">
			<div class="field-type"><%= @language['Date Created'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.created_at %> </p></div>
		</div>

		<div class="field-box">
			<div class="field-type"><%= @language['Last Updated']%></div>
			<div class="field-info"><p><%= @bmet_work_request.updated_at %> </p></div>
		</div>
		<div class="field-box">
			<div class="field-type"><%= @language['Department'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.department %> </p></div>
		</div>
		<div class="field-box">
			<div class="field-type"><%= @language['Location'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.location %></p></div>
		</div>
		<div class="field-box">
			<div class="field-type"><%= @language['Phone Number'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.phone %> </p></div>
		</div>
		<div class="field-box">
			<div class="field-type"> <%= @language['Email'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.email %> </p></div>
		</div>
		
		<div class="field-box	">
			<div class="field-type"><%= @language['Full Description'] %></div>
			<div class="field-info"><p><%= @bmet_work_request.description %> </p></div>
		</div>

		
</div>