<div id="object-single-col-box">
   <%= link_to '', @bmet_work_request, method: :delete, data: { confirm: t(:are_you_sure).titlecase }, :id => "delete-button2"%>

  <ul class="tab-navigation-buttons">
    <li class="active"><a href="#view" data-toggle="tab">
    	<%= t(:view).capitalize %></a>
    </li>
    <li><a href="#convert" data-toggle="tab"><%= t(:convert_to_work_order).titlecase %></a></li>  
    <% if can? :hide, current_user %>
     <li>
    <% if @bmet_work_request.destroyed? %>
  	  <%= link_to t(:unhide).capitalize, hide_bmet_work_request_path(@bmet_work_request), title: "Unhide work request", rel: "tooltip", method: :put %>
    <% else %>
  	  <%= link_to t(:hide).capitalize, hide_bmet_work_request_path(@bmet_work_request), title: "Hide work request", rel: "tooltip", method: :put %>
    <% end %>
    </li>
    <% end %>
    <li><%= link_to t(:delete_forever).titlecase, @bmet_work_request, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="view">
    	<%= render :partial => 'object_view' %>
    </div>
    <div class="tab-pane" id="convert">
    	<%= render :partial => 'bmet_work_orders/wr_object_convert' %>  	
    </div>  
  </div>
</div>