<%= simple_form_for @bmet_work_request, { url:  bmet_work_requests_public_create_path } do |f| %>
  <% if @bmet_work_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmet_work_request.errors.count, "error") %> prohibited this bmet_work_request from being saved:</h2>
<ul> <% @work_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="bmet_work_request[facility_id]" value=<%= @bmet_work_request.facility_id %>> </input>  
  
  <div class = "work_request_form-short">
    <%= @language['Requester'] %><br>
    <%= f.text_area :requester, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Department'] %><br>
  	<%= f.text_area :department, :required => true %>
  </div>

  <div class="work_request_form-long">
    <%= @language['Location'] %><br>
    <%= f.text_area :location, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Telephone number'] %><br>
  	<%= f.number_field :phone, :required => true %>
  </div>

  <div class = "work_request_form-short">
  	<%= @language['Email'] %><br>
  	<%= f.text_area :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  </div>

  <div class = "work_request_form-long">
    <%= @language['Description'] %><br>
    <%= f.text_area :description, :required => true %>
  </div>

  <div class="actions">
    <%= recaptcha_tags %>
    <%= f.submit @language['Create Bmet Work Request'] %>
  </div>
<% end %>