<p>
  <strong><%= t(:requester).capitalize %>:</strong>
  <%= @bmet_work_request.requester %>
</p>

<p>
  <strong><%= t(:department).capitalize %>:</strong>
  <%= @bmet_work_request.department %>
</p>

<p>
  <strong><%= t(:asset_id).capitalize %>:</strong>
  <%= @bmet_work_request.asset_id %>
</p>

<p>
  <strong><%= t(:location).capitalize %>:</strong>
  <%= @bmet_work_request.location %>
</p>

<p>
  <strong><%= t(:phone_number).titlecase %>:</strong>
  <%= @bmet_work_request.phone %>
</p>

<p>
  <strong><%= t(:email).capitalize %>:</strong>
  <%= @bmet_work_request.email %>
</p>

<p>
  <strong><%= t(:description).capitalize %>:</strong>
  <%= @bmet_work_request.description %>
</p>
