<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @bmet_work_request.requester %>
</p>

<p>
  <strong>Department:</strong>
  <%= @bmet_work_request.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @bmet_work_request.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bmet_work_request.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bmet_work_request.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bmet_work_request.description %>
</p>

<%= link_to 'Edit', edit_bmet_work_request_path(@bmet_work_request) %> |
<%= link_to 'Back', bmet_work_requests_path %>
