<div class='additional-details_form-div'>
  <hr class="additional-details_hr">
  <%= simple_form_for(@facility_cost) do |f| %>
  <% if @facility_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_cost.errors.count, "error") %> prohibited this facility_cost from being saved:</h2>
      <ul><% @facility_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="additional-detail_cost_name">
    <%= f.text_area :name, :required => true, :placeholder => t(:name).capitalize %>
  </div>
  <div id="additional-detail_cost_quantity">

    <%= f.number_field :unit_quantity, :required => true, :placeholder => t(:quantity).capitalize %>
  </div>
  <div id="additional-detail_cost_amount">
    <%= f.input_field :cost, :as => "decimal", :required => true, :placeholder => t(:cost).capitalize %>
  </div>
 
  <div class="field">
    <%= f.hidden_field :facility_work_order_id, :required => true, value: @facility_work_order.id %>
  </div>

  <div class="additional-detail_actions">
    <%= f.submit :value => ">"%>
  </div>
<% end %>
</div>