<%= form_for(@facility_cost) do |f| %>
  <% if @facility_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_cost.errors.count, "error") %> prohibited this facility_cost from being saved:</h2>
      <ul><% @facility_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    Name
    <%= f.text_area :name %>
  </div>
  <div class="field">
    Quantity
    <%= f.text_area :unit_quantity %>
  </div>
  <div class="field">
    Cost
    <%= f.text_area :cost %>
  </div>
 
  <div class="field">
    <%= f.hidden_field :facility_work_order_id, value: @facility_work_order.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
