<div class='new_facility_work_order_comment'>
  <hr class="additional-details_hr">
  <%= form_for(@facility_cost) do |f| %>
  <% if @facility_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_cost.errors.count, "error") %> prohibited this facility_cost from being saved:</h2>
      <ul><% @facility_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="additional-detail_name">
    <%= f.text_area :name, :placeholder => @language['Name'] %>
  </div>
  <div class="additional-detail_cost">

    <%= f.number_field :unit_quantity, :placeholder => @language['Quantity'] %>
  </div>
  <div class="additional-detail_cost">
    <%= f.number_field :cost, :placeholder => @language["Cost"] %>
  </div>
 
  <div class="field">
    <%= f.hidden_field :facility_work_order_id, value: @facility_work_order.id %>
  </div>

  <div class="additional-detail_actions">
    <%= f.submit :value => ">"%>
  </div>
<% end %>
</div>