<tr>
  <td><%= facility_cost.facility_cost_item.name %></td>
  <td>$</td>
  <td><%= facility_cost.cost %></td>
  <td>X</td>  
  <td><%= facility_cost.unit_quantity %></td>
  <td>&#61; $</td>
  <td><%= facility_cost.unit_quantity * facility_cost.cost %></td>
  <td><%= link_to 'x', facility_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>