<div class="admin_navigation">
  </br>
  <h1><%= t(:users).capitalize%></h1>

  <table class="admin_tables">
    <thead>
      <tr>
        <th><%= t(:username).capitalize%></th>     
        <th><%= t(:name).capitalize%></th>      
        <th><%= t(:email).capitalize%></th> 
        <th><%= t(:role).capitalize%></th>     
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%# https://github.com/plataformatec/devise/wiki/How-To:-Display-a-custom-sign_in-form-anywhere-in-your-app %>
  <%# relevant helpers are inside admin_helper.rb %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :facility_id %><br />
    <%= f.number_field :facility_id, autofocus: true %></div>

    <div><%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %></div>

    <div><%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    choices are {english,swahili,creole}
    <div><%= f.label :language %><br />
      <%= f.text_field :language, autofocus: true %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

</div>  
