<div class="admin_navigation">

	<%= simple_form_for :print_tags_form, { url: url_for(:action => 'generate_tags_pdf', :controller => 'admin'), method: 'get'} do |f| %>
		Start Number : <%= f.number_field :start_num %> </br>
		End Number : <%= f.number_field :end_num %></br>
		Asset ID Prefix : <%= f.input :asset_id_prefix %></br>
		<%= f.button :submit, "Generate PDF" %>
	<% end %>

</div>