<h1><%= "#{@language['All work requests']}  #{@language['Detailed view']}" %> </h1>

<%= link_to @language['Simple View'], "/work_requests" %><br>
<%= link_to "+ #{@language['New Work Request']}", new_work_request_path %>
<table>
  <thead>
    <tr>
      <th><%= @language['ID'] %></th>
      <th><%= @language['Asset ID'] %></th>
      <th><%= @language['Serial Number'] %></th>
      <th><%= @language['Manufacturer'] %></th>
      <th><%= @language['Category'] %></th>
      <th><%= @language['Department'] %></th>
      <th><%= @language['Requester'] %></th>
      <th><%= @language['Owner'] %></th>
      <th><%= @language['Date Requested'] %></th>
      <th><%= @language['Date Expires'] %></th>
      <th><%= @language['Date Completed'] %></th>
      <th><%= @language['Request type'] %></th>
      <th><%= @language['Cost'] %></th>
      <th><%= @language['Description'] %></th>
      <th><%= @language['Status'] %></th>
      <th><%= @language['Cause description'] %></th>
      <th><%= @language['Action taken'] %></th>
      <th><%= @language['Prevention taken'] %></th>
     <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_requests.each do |work_request| %>
      <tr>
        <td><%= work_request.id %></td>
        <td><%= link_to work_request.try(:item).try(:asset_id), work_request.try(:item)  %></td>
        <td><%= work_request.try(:item).try(:serial_number) %></td>
        <td><%= work_request.try(:item).try(:model).try(:manufacturer_name) %></td>
        <td><%= work_request.try(:item).try(:model).try(:category) %></td>
        <td><%= work_request.try(:item).try(:location) %></td>
        <td><%= work_request.try(:requester).try(:name) %></td>
        <td><%= work_request.try(:owner).try(:name) %></td>
        <td><%= work_request.date_requested %></td>
        <td><%= work_request.date_expire %></td>
        <td><%= work_request.date_completed %></td>
        <td><%= work_request.request_type %></td>
        <td><%= work_request.cost %></td>
        <td><%= work_request.description %></td>
        <td><%= work_request.status %></td>
        <td><%= work_request.cause_description %></td>
        <td><%= work_request.action_taken %></td>
        <td><%= work_request.prevention_taken %></td>
        <td><%= link_to @language['Show'], work_request %></td>
        <td><%= link_to @language['Edit'], edit_work_request_path(work_request) %></td>
        <td><%= link_to @language['Destroy'], work_request, method: :delete, data: { confirm: @language['Are you sure?'] } %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

