<h1>Listing work_requests</h1>

<table>
  <thead>
    <tr>
      <th>Date requested</th>
      <th>Date expire</th>
      <th>Date completed</th>
      <th>Request type</th>
      <th>Item</th>
      <th>Cost</th>
      <th>Description</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Requester</th>
      <th>Cause description</th>
      <th>Action taken</th>
      <th>Prevention taken</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_requests.each do |work_request| %>
      <tr>
        <td><%= work_request.date_requested %></td>
        <td><%= work_request.date_expire %></td>
        <td><%= work_request.date_completed %></td>
        <td><%= work_request.request_type %></td>
        <td><%= work_request.item %></td>
        <td><%= work_request.cost %></td>
        <td><%= work_request.description %></td>
        <td><%= work_request.status %></td>
        <td><%= work_request.owner_id %></td>
        <td><%= work_request.requester_id %></td>
        <td><%= work_request.cause_description %></td>
        <td><%= work_request.action_taken %></td>
        <td><%= work_request.prevention_taken %></td>
        <td><%= link_to 'Show', work_request %></td>
        <td><%= link_to 'Edit', edit_work_request_path(work_request) %></td>
        <td><%= link_to 'Destroy', work_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work request', new_work_request_path %>
