<h2><%= @language['My Requests']%></h2>

<input id='list-searchbox'>
<button id='list-searchbox-button'>Search</button>

<table id=my-requests>
  <thead>
    <tr>
      <th>
        <%= @language['ID'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Item ID'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Serial Number'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Manufacturer'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Category'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Department'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Date Requested'] %>
        <span id=sort-sticker></span>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_requests.each do |work_request| %>
      <tr>
        <td><%= work_request.id %></td>
        <td><%= link_to work_request.try(:item).try(:asset_id), work_request.try(:item)  %></td>
        <td><%= work_request.item.serial_number %></td>
        <td><%= work_request.item.model.manufacturer_name %></td>
        <td><%= work_request.item.model.category %></td>
        <td><%= work_request.item.location %></td>
        <td><%= work_request.date_requested %></td>
        <td><%= link_to @language['Edit'], edit_work_request_path(work_request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @language['My Texts']%></h2>
<table>
  <thead>
	  <th><%= @language['Time']%></th>
	  <th><%= @language['ID']%></th>
	  <th><%= @language['Request ID']%></th>
	  <th><%= @language['Comment']%></th>
 </thead>

  <tbody>
	  <% @texts.each do |text| %> 
	<tr> 
		<td><%= text.created_at %></td>
		<td><%= text.id %></td>
		<td><%= text.work_request_id %></td>
		<td><%= text.content %></td>
	</tr>
  <% end %>
  </tbody>

</table>

