<div class='wr'>
  <%= link_to 'Edit', edit_work_request_path(@work_request) %>
  <div class='attributes'>
    <div class='left-attributes'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Date requested:</strong>
        <%= @work_request.date_requested %>
      </p>

      <p>
        <strong>Date expire:</strong>
        <%= @work_request.date_expire %>
      </p>

      <p>
        <strong>Date completed:</strong>
        <%= @work_request.date_completed %>
      </p>

      <p>
        <strong>Request type:</strong>
        <%= @work_request.request_type %>
      </p>

      <p>
        <strong>Item:</strong>
        <%= @work_request.item_id %>
      </p>

      <p>
        <strong>Cost:</strong>
        <%= @work_request.cost %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @work_request.description %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @work_request.owner_id %>
      </p>

      <p>
        <strong>Requester:</strong>
        <%= @work_request.requester_id %>
      </p>

      <p>
        <strong>Cause description:</strong>
        <%= @work_request.cause_description %>
      </p>

      <p>
        <strong>Action taken:</strong>
        <%= @work_request.action_taken %>
      </p>

      <p>
        <strong>Prevention taken:</strong>
        <%= @work_request.prevention_taken %>
      </p>
    </div>

    <div class='right-attributes'>
      <p class='status'>
        <strong>Status:</strong>
        <%= @work_request.status %>
      </p>
    </div>
  </div>
  <p> <span class="comment-title"> Recent Comments </span>
  <form class="create-comment" action="/work_request_comments/new" method="GET"> <input type="hidden" name="id" value=<%= @work_request.id %>> </input> <input type="submit" value="+ Add New Comment" />
  </form>
  </p>
  <div class="comment"> 
	  <table>
		  <thead>
			  <th class="comment-table-header">Time Created</th>
			  <th class="comment-table-header">Last Updated</th>
			  <th class="comment-table-header">User ID </th>
			  <th>Content </th>
		  </thead>
		  <tbody>
			  <% @wr_comment.each do |comment| %>
				  <tr>
					  <td> <%= comment.created_at %> </td>
					  <td> <%= comment.updated_at %> </td>
					  <td> <%= comment.user_id %> </td>
					  <td> <%= comment.comment_text %> </td>
				  </tr>
			  <% end %>
		  </tbody>
	  </table>
  </div>
</div>

