<h1><%= "#{@language['Listing']} #{@language['Item histories']}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Item'] %></th>
      <th><%= @language['Date/Time'] %></th>
      <th><%= @language['Status'] %></th>
      <th><%= @language['Utilization'] %></th>
      <th><%= @language['Remarks'] %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @item_histories.each do |item_history| %>
      <tr>
        <td><%= item_history.item_id %></td>
        <td><%= item_history.datetime %></td>
        <td><%= item_history.status %></td>
        <td><%= item_history.utilization %></td>
        <td><%= item_history.remarks %></td>
        <td><%= link_to @language['Show'], item_history %></td>
        <td><%= link_to @language['Edit'], edit_item_history_path(item_history) %></td>
        <td><%= link_to @language['Destroy'], item_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item history', new_item_history_path %>
