<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_history.item_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @item_history.datetime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item_history.status %>
</p>

<p>
  <strong>Utilization:</strong>
  <%= @item_history.utilization %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @item_history.remarks %>
</p>

<%= link_to 'Edit', edit_item_history_path(@item_history) %> |
<%= link_to 'Back', item_histories_path %>
