<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Encrypted password</th>
      <th>Role</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Telephone num</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.encrypted_password %></td>
        <td><%= user.role_id %></td>
        <td><%= user.created %></td>
        <td><%= user.modified %></td>
        <td><%= user.telephone_num %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
