<h1><%= @language['Listing'] @language['users'] %> </h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Username']%></th>
      <th><%= @language['Encrypted password']%></th>
      <th><%= @language['Role']%></th>
      <th><%= @language['Created']%></th>
      <th><%= @language['Modified']%></th>
      <th> <%= @language['Telephone number']%> </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.encrypted_password %></td>
        <td><%= user.role_id %></td>
        <td><%= user.created %></td>
        <td><%= user.modified %></td>
        <td><%= user.telephone_num %></td>
        <td><%= link_to @language['Show'], user %></td>
        <td><%= link_to @language['Edit'], edit_user_path(user) %></td>
        <td><%= link_to @language['Destroy'], user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to @language['New User'], new_user_path %>
