<p id="notice"><%= notice %></p>

<p>
  <strong><%= @language['Username']%>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= @language['Encrypted password']%>:</strong>
  <%= @user.encrypted_password %>
</p>

<p>
  <strong><%= @language['Role']%>:</strong>
  <%= @user.role_id %>
</p>

<p>
  <strong><%= @language['Created']%>:</strong>
  <%= @user.created %>
</p>

<p>
  <strong><%= @language['Modified']%>:</strong>
  <%= @user.modified %>
</p>

<p>
  <strong><%= @language['Telephone number']%> :</strong>
  <%= @user.telephone_num %>
</p>

<%= link_to @language['Edit'], edit_user_path(@user) %> |
<%= link_to @language['Back'], users_path %>
