<h1>Listing work_request_comments</h1>

<table>
  <thead>
    <tr>
      <th>Datetime stamp</th>
      <th>Work request</th>
      <th>User</th>
      <th>Comment text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_request_comments.each do |work_request_comment| %>
      <tr>
        <td><%= work_request_comment.datetime_stamp %></td>
        <td><%= work_request_comment.work_request_id %></td>
        <td><%= work_request_comment.user_id %></td>
        <td><%= work_request_comment.comment_text %></td>
        <td><%= link_to 'Show', work_request_comment %></td>
        <td><%= link_to 'Edit', edit_work_request_comment_path(work_request_comment) %></td>
        <td><%= link_to 'Destroy', work_request_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work request comment', new_work_request_comment_path %>
