<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime stamp:</strong>
  <%= @work_request_comment.datetime_stamp %>
</p>

<p>
  <strong>Comment text:</strong>
  <%= @work_request_comment.comment_text %>
</p>

<%= link_to 'Edit', edit_work_request_comment_path(@work_request_comment) %> |
<%= link_to 'Back', work_request_comments_path %>
