<div id="dashboard-navigation">

	<div id="dashboard-header">


		<%= simple_form_for :dates, { url: url_for(:action => 'status', :controller => 'facility_dashboard'), method: 'get'} do |f| %>
			<div id="dashboard-header-title">
				Clinical Administrator Dashboard
			</div>

			<div id="dashboard-dates">
				<%= f.input :start_date, as: :date, start_year: Date.today.year - 12,
                              end_year: Date.today.year + 12, :default => @starting_date %>
				<%= f.input :end_date, as: :date, start_year: Date.today.year - 12,
                              end_year: Date.today.year + 12, :default => @ending_date %>
			</div>

			<div id="dashboard-submit-div">
			    <%= f.button :submit, "Statuses", :id => "status-submit", :class => "dashboard-submit" %>
				<%= f.button :submit, "Finances", :id => "wo_finances-submit", :class => "dashboard-submit" %>
				<%= f.button :submit, "Labor Hours", :id => "labor_hours-submit", :class => "dashboard-submit" %>
			</div>
		<% end %>




	</div>

</div>
