<div id=dashboard>
<%= form_tag({controller: "facility_dashboard", action: "status"}, method: "get") do %>
  <%= label_tag(:start_date, "Start Date:") %>
  <%= date_field_tag(:start_date) %>
  <%= label_tag(:end_date, "End Date:") %>
  <%= date_field_tag(:end_date) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag({controller: "facility_dashboard", action: "wo_finances"}, method: "get") do %>
  <%= label_tag(:start_date, "Start Date:") %>
  <%= date_field_tag(:start_date) %>
  <%= label_tag(:end_date, "End Date:") %>
  <%= date_field_tag(:end_date) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag({controller: "facility_dashboard", action: "status"}, method: "get") do %>
  <%= label_tag(:start_date, "Start Date:") %>
  <%= date_field_tag(:start_date) %>
  <%= label_tag(:end_date, "End Date:") %>
  <%= date_field_tag(:end_date) %>
  <%= submit_tag("Search") %>
<% end %>

</div>
