<div id=dashboard>

<%= simple_form_for :dates, { url: url_for(:action => 'status', :controller => 'facility_dashboard'), method: 'get'} do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit, "Search" %>
<% end %>

<%= simple_form_for :dates, { url: url_for(:action => 'wo_finances', :controller => 'facility_dashboard'), method: 'get'} do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit, "Search" %>
<% end %>

<%= simple_form_for :dates, { url: url_for(:action => 'labor_hours', :controller => 'facility_dashboard'), method: 'get'} do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit, "Search" %>
<% end %>

</div>
