<script type="text/javascript">
// Load the Visualization API and the piechart package.

google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);
</script>
<%=render 'navigation'%>
<div id='dashboard'>
	<div id='chart_div'></div>
	
	<table id="dash_table">
		<tr>
			<th><%=@language['Work Order']%></th>
			<th><%=@language['Department']%></th>
			<th><%=@language['Cost']%></th>
		</tr>
		<% @work_orders_json.each do |department_name,value| %>
				<tr>
					<td class="department_name">
						<%= department_name %>
					</td>
				</tr>
			<% value["costs"].each do |work_order_id,cost| %>
				<tr>
					<td></td>
					<td class="work_order_id">
						<%=@language['Work Order']%> <%= work_order_id %>
					</td>					
					<td class="cost_by_id">
						<%=cost%>
					</td>
				</tr>
			<%end%>
					<tr>
						<td></td>
						<td></td>
						<td class="sum_costs"><%=value["totalcost"]%></td>
					</tr>
			
		<%end%>
	</table>
</div>


<!-- <div id=dashboard>
	<table id="dash_table">
		<tr>
			<th><%#=@language['Work Order']%></th>
			<th><%#=@language['Expire']%> </th>
		</tr>

		<%# @sumcost.each do |q| %>
			<tr class="dash_tr">
				<td class="work_order_id">
					<%#=@language['Work Order']%> <%#= q[1] %>
				</td>
				<td class="work_order_status">
					<%#=  %>
				</td>
			</tr>
		<%#end%>
	</table>
</div> -->