<h1><%= t(:departments).capitalize %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name).capitalize%></th>
      <th><%= t(:facilities).capitalize%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.facility %></td>
        <td><%= link_to t(:show).capitalize, department %></td>
        <td><%= link_to t(:edit).capitalize, edit_department_path(department) %></td>
        <td><%= link_to t(:destroy).capitalize, department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>