<h1><%= @language['Departments'] %></h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Name']%></th>
      <th><%= @language['Facilities']%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.facility %></td>
        <td><%= link_to @language['Show'], department %></td>
        <td><%= link_to @language['Edit'], edit_department_path(department) %></td>
        <td><%= link_to @language['Destroy'], department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>