<p id="notice"><%= notice %></p>

<p>
  <strong><%= @language['Name'] %></strong>
  <%= @department.name %>
</p>

<p>
  <strong><%= @language['Facilities'] %></strong>
  <%= @department.facility_id %>
</p>

