<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name).capitalize %></strong>
  <%= @department.name %>
</p>

<p>
  <strong><%= t(:facilities).capitalize %></strong>
  <%= @department.facility_id %>
</p>

