<div class="additional-details_form-div">

  <%= form_for(@facility_work_order_comment) do |f| %>
    <% if @facility_work_order_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@facility_work_order_comment.errors.count, "error") %> prohibited this facility_work_order_comment from being saved:</h2>
        <ul><% @facility_work_order_comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <hr class='additional-details_hr'>
    <div id="additional-detail_comment_descr">
      <%= f.text_area :comment_text, :required => true, :placeholder=> @language['Description']%>
    </div>

    <div class="additional-detail_actions">
      <%= f.submit :value => ">"%>
    </div>
   
    <div class="field">
      <%=f.hidden_field :facility_work_order_id, value: @facility_work_order.id %>
    </div>
    <%=f.hidden_field :user_id, value: session[:user] %>


  <% end %>

</div>