<h1><%= @language['Facilities']%></h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Name']%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= link_to @language['Show'], facility %></td>
        <td><%= link_to @language['Edit'], edit_facility_path(facility) %></td>
        <td><%= link_to @language['Destroy'], facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to @language['New Facility'], new_facility_path %>
