<h1><%= t(:facilities).capitalize%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name).capitalize%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= link_to t(:show).capitalize, facility %></td>
        <td><%= link_to t(:edit).capitalize, edit_facility_path(facility) %></td>
        <td><%= link_to t(:destroy).capitalize, facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_facility).titlecase, new_facility_path %>
