<p id="notice"><%= t(:notice).capitalize %></p>

<p>
  <strong><%= t(:name).capitalize%>:</strong>
  <%= @facility.name %>
</p>

<%= link_to t(:edit).capitalize, edit_facility_path(@facility) %> |
<%= link_to t(:back).capitalize, facilities_path %>
