<p id="notice"><%= @language['Notice'] %></p>

<p>
  <strong><%= @language['Name']%>:</strong>
  <%= @facility.name %>
</p>

<%= link_to @language['Edit'], edit_facility_path(@facility) %> |
<%= link_to @language['Back'], facilities_path %>
