<div class='extra-details_form-div'>
  <hr class="extra-details_hr">

  <%= form_for(@facility_labor_hour) do |f| %>
    <% if @facility_labor_hour.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@facility_labor_hour.errors.count, "error") %> prohibited this facility_labor_hour from being saved:</h2>
        <ul><% @facility_labor_hour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="labor_technician-title">
      <%= t(:technician).capitalize %>
    </div>
    <div id="labor_date-title">
      <%= t(:worked_on).titlecase %>
    </div >
    <div id="labor_hour-title">
      <%= t(:duration).capitalize %>
    </div>
    
    <div id="extra-details_labor_tech">
      <%= f.collection_select :technician_id, @users, :id, :name, :id => "technician" %>        
    </div>
    <div id="extra-details_labor_date">      
      <%= f.date_select :date_started, :required => true,use_short_month: true %>    
    </div>
    <div id="extra-details_labor_hours">    
      <%= f.number_field :duration, :required => true,:placeholder => t(:hr).capitalize %>
    </div>

    <div class="extra-details_actions">
      <%= f.submit :value => ">"%>
    </div>

      
      
      
     
      <div class="field">
        <%= f.hidden_field :facility_work_order_id, value: @facility_work_order.id %>
      </div>

      
  <% end %>
</div>