<p id="notice"><%= notice %></p>

<p>
  <strong>Date started:</strong>
  <%= @facility_labor_hour.date_started %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @facility_labor_hour.duration %>
</p>

<p>
  <strong>Technician:</strong>
  <%= @facility_labor_hour.technician_id %>
</p>

<p>
  <strong>Facility work order:</strong>
  <%= @facility_labor_hour.facility_work_order_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @facility_labor_hour.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @facility_labor_hour.updated_at %>
</p>

<%= link_to 'Edit', edit_facility_labor_hour_path(@facility_labor_hour) %> |
<%= link_to 'Back', facility_labor_hours_path %>
