<tr>
	<td><%= bmet_cost.bmet_cost_item.try(:name) %></td>
	<td><%= bmet_cost.bmet_cost_item.try(:facility).try(:currency) %><%= bmet_cost.cost %></td>
	<td>X</td>	
	<td><%= bmet_cost.unit_quantity %></td>
	<td>=</td>
	&nbsp
	<td><%= bmet_cost.bmet_cost_item.try(:facility).try(:currency) %><%= (bmet_cost.unit_quantity.nil? || bmet_cost.cost.nil?) ? 0 : bmet_cost.unit_quantity * bmet_cost.cost %></td>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'x', bmet_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>