<tr>
	<td><%= bmet_cost.name %></td>
	<td>$</td>
	<td><%= bmet_cost.cost %></td>
	<td>X</td>	
	<td><%= bmet_cost.unit_quantity %></td>
	<td>&#61; $</td>
	<td><%= bmet_cost.unit_quantity * bmet_cost.cost %></td>
	<td><%= link_to 'x', bmet_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>