  <%= form_for(@bmet_work_order) do |f| %>
    <% if @bmet_work_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bmet_work_order.errors.count, "error") %> prohibited this bmet_work_order from being saved:</h2>
            <ul> 
              <% @bmet_work_order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>x
    <% end %>

    <div class="additional-details-box">   
        <div class="field-type"><%= t(:cause_description).titlecase %></div>
        <div class="field-info"><%= f.text_area :cause_description %></div>
    </div>

    <div class="additional-details-box">   
        <div class="field-type"><%= t(:action_taken).titlecase %></div>
        <div class="field-info"><%= f.text_area :action_taken %></div>
    </div>

    <div class="additional-details-box">   
        <div class="field-type"><%= t(:prevention_taken).titlecase %></div>
        <div class="field-info"><%= f.text_area :prevention_taken %></div>
    </div>

    <div class="additional-details-box">
      <% if @bmet_work_order.wr_origin %>
          <a style="color:white" href="<%= bmet_work_requests_url + '/all/' + @bmet_work_order.wr_origin.to_s %>">
            View original work request
          </a>
      <% elsif @bmet_work_order.pm_origin %>
          <a style="color:white" href="<%= bmet_preventative_maintenances_url + '/all/' + @bmet_work_order.pm_origin.to_s %>">
            View original preventative maintenance
          </a>
      <% else %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit t(:save_changes).titlecase%>
    </div>
  <%end%>
