  <%= form_for(@bmet_work_order) do |f| %>
    <% if @bmet_work_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bmet_work_order.errors.count, "error") %> prohibited this bmet_work_order from being saved:</h2>
            <ul> 
              <% @bmet_work_order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>x
    <% end %>

    <div class="additional-details-box">   
        <div class="field-type"><%= @language['Cause Description'] %></div>
        <div class="field-info"><%= f.text_area :cause_description %></div>
    </div>

    <div class="additional-details-box">   
        <div class="field-type"><%= @language['Action Taken'] %></div>
        <div class="field-info"><%= f.text_area :action_taken %></div>
    </div>

    <div class="additional-details-box">   
        <div class="field-type"><%= @language['Prevention Taken'] %></div>
        <div class="field-info"><%= f.text_area :prevention_taken %></div>
    </div>

    <div class="actions">
      <%= f.submit @language['Save Changes']%>
    </div>
  <%end%>
