<div id='left-top'>
  <div id="top-dropdown">
    <%= t(:filter).capitalize %>: <div class="dropdown">
      <a id="facworkorder_progress" role="button" data-toggle="dropdown" href="#">
         <%= t(:select_status).titlecase %>
         <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_progress">
       <li>
             <input id="cbox0" type="checkbox" name="unstarted" value="unstarted">
             <%= t(:unstarted).capitalize %>
       </li>
       <li>
             <input id="cbox1" type="checkbox" name="inprogress" value="inprogress">
             <%= t(:in_progress).titlecase %>
       </li>
       <li>
             <input id="cbox2" type="checkbox" name="completed" value="completed">
             <%= t(:completed).capitalize %>
       </li>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
    <%= t(:sort).capitalize %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= t(:select_attribute).titlecase %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
         <a onclick = "attrsort('datecreated', 'desc')">
          <%= t(:date_created).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('datestarted', 'desc')">
          <%= t(:date_started).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('expirydate', 'asc')">
          <%= t(:date_expires).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "sort_by_num('priority')">
          <%=t(:priority).capitalize%>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('owner', 'desc')">
          <%=t(:owner).capitalize%>
         </a>
       </div>
       <div>
         <a onclick = "sort_by_num('status')">
          <%=t(:status).capitalize%>
         </a>
       </div>

      </ul>

    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<%= "#{t(:view).capitalize}" %>
	<div class="dropdown">
		<a id="facworkorder_view" role="button" data-toggle="dropdown" href="#">
			<%= "#{t(:select).capitalize} #{t(:view).capitalize}:" %>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_view">
			<div>
				<a href="<%= bmet_work_orders_url+'/unhidden' %>">
          <%= "#{t(:visible).capitalize} #{t(:work_orders).titlecase}" %>
				</a>
			</div>
			<div>
				<a href="<%= bmet_work_orders_url+'/hidden' %>">
					<%= "#{t(:hidden).capitalize} #{t(:work_orders).titlecase}" %>
				</a>
			</div>
			<div>
				<a href="<%= bmet_work_orders_url+'/all' %>">
					<%= "#{t(:all).capitalize} #{t(:work_orders).titlecase}" %>
				</a>
			</div>
		</ul>
	</div>
    <div></div>
  </div>

  <div id="top-button">
    <%= link_to "", '#', onclick: "printmainpage(); return false;", :id => "print-button" %>
    <a href= "<%=new_bmet_work_order_path%>" id='add-button'></a>
    <%= link_to t(:export_data).titlecase, bmet_work_orders_url+"/download" %>
  </div>
</div>
