<div id = "mid_facility-work-order">
  <ul id="mid-summary_ul">
    <% @bmet_work_orders.each do |bmet_work_order| %>
    <%= link_to(@link.to_s+bmet_work_order.id.to_s) do %>
      <li
      class="mid-summary_ul_li"
      datecreated="<%= bmet_work_order.created_at.to_s(:number) %>"
      owner="<%=bmet_work_order.owner.try(:name)%>"
      status = "<%=bmet_work_order.status%>"
      priority = "<%=bmet_work_order.priority%>"
      datestarted="<%= bmet_work_order.date_started.try(:to_s, :number)%>"
      expirydate = "<%= bmet_work_order.date_expire.try(:to_s, :number) %>"
      >
        <div class="status-<%= bmet_work_order.status %>">
          <div class="status-text-<%= bmet_work_order.status %>"></div>
        </div>
        <div class="element_details">
          <p class="element_title">
            <%= t(:work_order).titlecase %> <%= bmet_work_order.id %>
          </p>
          <p class="element_requester">
            <%=t(:asset).capitalize + " " + t(:id).upcase%>: <%= bmet_work_order.bmet_item.try(:asset_id).try(:to_s) %>
          </p>
          <p class="element_owner">
            <%=t(:owner).capitalize%>: <%= bmet_work_order.owner.name %>
          </p>          
        </div>
        <%= image_tag("rightarrow_black.png", class: "right-arrow") %>
        <div class="element_date">
          <div class="element_date_title">
            <%= t(:expire).capitalize %>
          </div>
          <%= bmet_work_order.date_expire.try(:strftime,"%^b %d") %> 
        </div>

        <div class="element_date">
          <div class="element_date_title">
            <%= t(:start).capitalize %>
          </div>
          <%= bmet_work_order.date_started.try(:strftime,"%^b %d") %> 
        </div>

        <div class="element_date">
          <div class="element_date_title">
            <%= t(:created).capitalize %>
          </div>
          <%= bmet_work_order.created_at.try(:strftime,"%^b %d") %> 
        </div>
        <div class="element_date">
          <div class="element_date_title">
            <%= t(:priority).capitalize %>
          </div>
          <%= @priorities_hash[bmet_work_order.priority] %> 
        </div>
      </li>
      <hr class="mid-summary_ul_li_hr"><!--replace with border-->
    <% end %>
    <% end %>
  </ul>
</div>

