<div id="object-view">
	<button onclick="edit_button_handler()"> Click me </button>
	<div id="left_half">
		<p>
			<%=t(:id).capitalize %>:
			<%= @facility_work_order.id %>
		</p>

		<p>
			<%=t(:expected_date_of_completion).titlecase %>:
			<%= @facility_work_order.date_expire %>
		</p>

		<p>
			<%=t(:date_completed).titlecase %>:
			<%= @facility_work_order.date_completed %>
		</p>

		<p>
			<%=t(:created_at).titlecase %>:
			<%= @facility_work_order.created_at %>
		</p>
		<p>	
			<%=t(:updated_at).titlecase %>:
			<%= @facility_work_order.updated_at %>
		</p>
		<p>	
			<%=t(:request_type).titlecase %>:
			<%= @facility_work_order.request_type %>
		</p>
		<p>	
			<%=t(:status).capitalize %>:
			<%= @facility_work_order.status %>
		</p>
		<p>	
			<%=t(:owner_id).titlecase %>:
			<%= @facility_work_order.owner_id %>
		</p>
		<p>	
			<%=t(:requester_id).titlecase %>:
			<%= @facility_work_order.requester_id %>
		</p>
		<p>	
			<%=t(:description).capitalize %>:
			<%= @facility_work_order.description %>
		</p>
		<p>	
			<%=t(:cause_description).titlecase %>:
			<%= @facility_work_order.cause_description %>
		</p>
		<p>	
			<%=t(:action_taken).titlecase %>:
			<%= @facility_work_order.action_taken %>
		</p>
		<p>	
			<%=t(:prevention_taken).titlecase %>:
			<%= @facility_work_order.prevention_taken %>
		</p>

	</div>	

	<div id = "right_half"> 
	</div>


</div>

      
