<h2><%= @language['My Requests']%></h2>


<table id=my-requests>
  <thead>
    <tr>
      <th>
        <%= @language['ID'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Item ID'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Serial Number'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Manufacturer'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Category'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Department'] %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= @language['Date Requested'] %>
        <span id=sort-sticker></span>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bmet_work_orders.each do |bmet_work_order| %>
      <tr>
        <td><%= bmet_work_order.id %></td>
        <td><%= link_to bmet_work_order.try(:item).try(:asset_id), bmet_work_order.try(:item)  %></td>
        <td><%= bmet_work_order.item.serial_number %></td>
        <td><%= bmet_work_order.item.model.manufacturer_name %></td>
        <td><%= bmet_work_order.item.model.category %></td>
        <td><%= bmet_work_order.item.location %></td>
        <td><%= bmet_work_order.date_requested %></td>
        <td><%= link_to @language['Edit'], edit_bmet_work_order_path(bmet_work_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @language['My Texts']%></h2>
<table>
  <thead>
	  <th><%= @language['Time']%></th>
	  <th><%= @language['ID']%></th>
	  <th><%= @language['Request ID']%></th>
	  <th><%= @language['Comment']%></th>
 </thead>

  <tbody>
	  <% @texts.each do |text| %> 
	<tr> 
		<td><%= text.created_at %></td>
		<td><%= text.id %></td>
		<td><%= link_to text.bmet_work_order_id %></td>
		<td><%= text.content %></td>
	</tr>
  <% end %>
  </tbody>

</table>

