<h2><%= t(:my_requests).titlecase%></h2>


<table id=my-requests>
  <thead>
    <tr>
      <th>
        <%= t(:id).capitalize %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:item_id).titlecase %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:serial_number).titlecase %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:manufacturer).capitalize %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:category).capitalize %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:department).capitalize %>
        <span id=sort-sticker></span>
      </th>
      <th>
        <%= t(:date_requested).titlecase %>
        <span id=sort-sticker></span>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bmet_work_orders.each do |bmet_work_order| %>
      <tr>
        <td><%= bmet_work_order.id %></td>
        <td><%= link_to bmet_work_order.bmet_item.asset_id, bmet_work_order.bmet_item %></td>
        <td><%= bmet_work_order.bmet_item.serial_number %></td>
        <td><%= bmet_work_order.bmet_item.model.manufacturer_name %></td>
        <td><%= bmet_work_order.bmet_item.model.category %></td>
        <td><%= bmet_work_order.bmet_item.location %></td>
        <td><%= bmet_work_order.date_requested %></td>
        <td><%= link_to t(:edit).capitalize, edit_bmet_work_order_path(bmet_work_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= t(:my_texts).titlecase%></h2>
<table>
  <thead>
	  <th><%= t(:time).capitalize%></th>
	  <th><%= t(:id).capitalize%></th>
	  <th><%= t(:request_id).titlecase%></th>
	  <th><%= t(:comment).capitalize%></th>
 </thead>

  <tbody>
	  <% @texts.each do |text| %> 
	<tr> 
		<td><%= text.created_at %></td>
		<td><%= text.id %></td>
		<td><%= link_to text.bmet_work_order.id, text.bmet_work_order %></td>
		<td><%= text.content %></td>
	</tr>
  <% end %>
  </tbody>

</table>

