<div id="dashboard-navigation">

	<div id="dashboard-header">


		<div id="dashboard-header-title">
				Clinical Administrator Dashboard
			</div>

			<div id="dashboard-submit-div">
				<div class="dropdown dashboard-submit btn" id = "dashboard-dropdown">
			      	<div id="status-sort" role="button" data-toggle="dropdown" href="#">
			          	<%= t(:work_order).titlecase %>
			          	<b class="caret"></b>
			      	</div>
	      			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
	         			<div>
		         			<a class="dropdown-ele" onclick = "timeDashboardDropdown('status','<%=t(:chart_title_expire)%>')">
		          				<%= t(:by_expected_completion_date).titlecase %>
		         			</a>
	     				</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('statusWoCompleted','<%=t(:chart_title_statuswocompleted)%>')">
	          					<%= t(:by_completion_date).titlecase %>
	         				</a>
	         			</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('statusWoDepartment','<%=t(:chart_title_statuswodepartment)%>')">
	          					<%= t(:by_department).titlecase %>
	         				</a>
	         			</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('statusWoOwner','<%=t(:chart_title_statuswoowner)%>')">
	          					<%=t(:by_owner).titlecase%>
	         				</a>
	         			</div>
	      			</ul>
    			</div>
    			<div class="dropdown dashboard-submit btn" id = "dashboard-dropdown">
			      	<div id="status-sort" role="button" data-toggle="dropdown" href="#">
			          	<%= t(:finances).titlecase %>
			          	<b class="caret"></b>
			      	</div>
	      			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
	         			<div>
		         			<a class="dropdown-ele" onclick = "timeDashboardDropdown('wo_finances','<%=t(:chart_title_wofinances)%>')">
		          				<%= t(:by_department).titlecase %>
		         			</a>
	     				</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('wo_finances_item','<%=t(:chart_title_wofinancesitem)%>')">
	          					<%= t(:by_item).titlecase %>
	         				</a>
	         			</div>	         			
	      			</ul>
    			</div>
    			<div class="dropdown dashboard-submit btn" id = "dashboard-dropdown-laborhours">
			      	<div id="status-sort" role="button" data-toggle="dropdown" href="#">
			          	<%= t(:labor_hours).titlecase %>
			          	<b class="caret"></b>
			      	</div>
	      			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
	         			<div>
		         			<a class="dropdown-ele" onclick = "timeDashboardDropdown('labor_hours_work_order','<%=t(:chart_title_laborhoursworkorder)%>')">
		          				<%= t(:by_work_order).titlecase %>
		         			</a>
	     				</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('labor_hours_time_worked','<%=t(:chart_title_laborhourstimeworked)%>')">
	          					<%= t(:by_hours_worked_in_period).titlecase %>
	         				</a>
	         			</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('labor_hours','<%=t(:chart_title_laborhours)%>')">
	          					<%= t(:by_hours_worked_on_completed_wo_in_period).titlecase %>
	         				</a>
	         			</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('labor_hours_item','<%=t(:chart_title_laborhoursitem)%>')">
	          					<%= t(:by_item).titlecase %>
	         				</a>
	         			</div>	         			
	      			</ul>
    			</div>
    			<div class="dropdown dashboard-submit btn" id = "dashboard-dropdown-items">
			      	<div id="status-sort" role="button" data-toggle="dropdown" href="#">
			          	<%= t(:items).titlecase %>
			          	<b class="caret"></b>
			      	</div>
	      			<ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
	         			<div>
		         			<a class="dropdown-ele" onclick = "noneDashboardDropdown('items_percent_down','<%=t(:chart_title_itemspercentdown)%>')">
		          				<%= t(:currently_down).titlecase %>
		         			</a>
	     				</div>
	         			<div>
	         				<a class="dropdown-ele" onclick = "timeDashboardDropdown('items_wo_created','<%=t(:chart_title_itemswocreated)%>')">
	          					<%= t(:with_work_order_in_period).titlecase %>
	         				</a>
	         			</div>	         			
	      			</ul>
    			</div>
    		</div>

	</div>
</div>

