<script type="text/javascript">
// Load the Visualization API and the piechart package.

google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);
</script>
<%=render 'navigation'%>
<div id='dashboard'>
	<div id="dashboard-forms-ajax">
		<%=render 'timeAjax'%>
	</div>
	<div id='chart_title'><%=@chart_title.titlecase%></div>
	<div id="date_div"><%=@starting_date.strftime("%b %d, %Y")+'-'+@ending_date.strftime("%b %d, %Y")%></div>
	<div id='chart_div'></div>
	<div id="dashboard_results_div">
		<table id="dash_table">
			<tr>
				<th><%=t(@category).titlecase %></th>
				<th><%=t(:work_order).capitalize%></th>
				<th><%=t(:cost).capitalize%></th>
			</tr>
			<% @work_orders_json.each do |department_name,value| %>
					<tr>
						<td class="department_name">
							<%= department_name %>
						</td>
					</tr>
				<% value["costs"].each do |work_order_id,cost| %>
					<tr>
						<td></td>
						<td class="work_order_id">
							<%= link_to t(:work_order).titlecase+' '+work_order_id.to_s, bmet_work_orders_path+'/all/'+work_order_id.to_s %>						
						</td>					
						<td class="cost_by_id">
							<%=cost%>
						</td>
					</tr>
				<%end%>
						<tr>
							<td></td>
							<td></td>
							<td class="sum_costs"><%=value["totalcost"]%></td>
						</tr>
				
			<%end%>
		</table>
	</div>
</div>


<!-- <div id=dashboard>
	<table id="dash_table">
		<tr>
			<th><%#=t(:work_order).titlecase %></th>
			<th><%#=t(:expire).capitalize%> </th>
		</tr>

		<%# @sumcost.each do |q| %>
			<tr class="dash_tr">
				<td class="work_order_id">
					<%#=t(:work_order).titlecase %> <%#= q[1] %>
				</td>
				<td class="work_order_status">
					<%#=  %>
				</td>
			</tr>
		<%#end%>
	</table>
</div> -->