<h1>Listing item_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_groups.each do |item_group| %>
      <tr>
        <td><%= item_group.name %></td>
        <td><%= link_to 'Show', item_group %></td>
        <td><%= link_to 'Edit', edit_item_group_path(item_group) %></td>
        <td><%= link_to 'Destroy', item_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item group', new_item_group_path %>
