<%= form_for(@bmet_labor_hour) do |f| %>
  <% if @bmet_labor_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmet_work_order.errors.count, "error") %> prohibited this bmet_work_order from being saved:</h2>
<ul> <% @bmet_labor_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <% if params[:action] == 'new' %>
      <div class="field">
      <input type="hidden" name="bmet_work_order[requester_id]" value=<%= session[:user] %>> </input>
      </div>
  <% elsif params[:action] == 'edit' %>
  <% end %>

  <div class="field">
    <%= t(:date_started).titlecase %><br>
    <%= f.datetime_select :date_started %>
  </div>
  <div class="field">
    <%= t(:duration).capitalize %><br>
	<%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= t(:technician_id).titlecase %><br>
    <%= f.number_field :technician_id %>
  </div>
  <div class="field">
    <%= t(:work_request_id).titlecase %><br>
    <%= f.number_field :bmet_work_order_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
