<h1>Listing bmet_labor_hours</h1>

<table>
  <thead>
    <tr>
      <th>Date started</th>
      <th>Duration</th>
      <th>Technician</th>
      <th>bmet work order</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bmet_labor_hours.each do |labor_hour| %>
      <tr>
        <td><%= labor_hour.date_started %></td>
        <td><%= labor_hour.duration %></td>
        <td><%= labor_hour.technician_id %></td>
        <td><%= labor_hour.bmet_work_order_id %></td>
        <td><%= labor_hour.created_at %></td>
        <td><%= labor_hour.updated_at %></td>
        <td><%= link_to 'Show', labor_hour %></td>
        <td><%= link_to 'Edit', edit_bmet_labor_hour_path(labor_hour) %></td>
        <td><%= link_to 'Destroy', labor_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New bmet labor hour', new_bmet_labor_hour_path %>
