<div id='left-top'>
  <div id="top-dropdown">
    
    &nbsp&nbsp&nbsp&nbsp
    <%= @language['Filter'] %>: 
    <div class="dropdown">
      <a id="facworkorder_progress" role="button" data-toggle="dropdown" href="#">
         <%= @language['Select Status'] %>
         <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_progress">
       <li>
             <input id="cbox0" type="checkbox" name="unstarted" value="unstarted">
             <%= @language['Unstarted'] %>
       </li>
       <li>
             <input id="cbox1" type="checkbox" name="inprogress" value="inprogress">
             <%= @language['In Progress'] %>
       </li>
       <li>
             <input id="cbox2" type="checkbox" name="completed" value="completed">
             <%= @language['Completed'] %>
       </li>
      </ul>
    </div>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
    <%= @language['Sort'] %>: 
    <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
          <%= @language['Select Attribute'] %>
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
         <div>
         <a onclick = "sort_by_date_created()">
          <%= @language['Date Created'] %>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_date('datestarted')">
          <%= @language['Date Started'] %>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_name('requester')">
          <%=@language['Requester']%>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_name('owner')">
          <%=@language['Owner']%>
         </a>
         </div>
         <div>
         <a onclick = "sort_by_num('status')">
          <%=@language['Status']%>
         </a>
         </div>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= "View" %>: 
    <div class="dropdown">
      <a id="facworkorder_view" role="button" data-toggle="dropdown" href="#">
          Select View:
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_view">
         <div>
         <a href="<%= facility_work_orders_url+'/unhidden' %>">
            Visible Work Orders
         </a>
         </div>
         <div>
          <a href="<%= facility_work_orders_url+'/hidden' %>" >
            Hidden Work Orders
          </a>
         </div>
         <div>
          <a href="<%= facility_work_orders_url+'/all'%>">
            All Work Orders
          </a>
         </div>
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= form_tag search_facility_work_orders_path, method: 'get' do %>
      <%= label_tag " " %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag :search %>
    <% end %>
  </div>

  <div id="top-button">
    <%= link_to "", '#', onclick: "printmainpage(); return false;", :id => "print-button" %>
    <%= link_to "", new_facility_work_order_path, :id => "add-button"%>
    <%= link_to @language["Export Data"], facility_work_orders_url+"/download" %>
  </div>

</div>
