<div>
  <ul id="mid-summary_ul">
    <% @facility_work_orders.each do |facility_work_order| %>
    <%= link_to(facility_work_order) do %>
      <li class="mid-summary_ul_li">
        <div class="status-<%= facility_work_order.status %>"></div>
        
        
        <div class="details">
          <p class="order_id">
            Work Order <%= facility_work_order.id %>
          </p>
          <p class="order_owner">
            Owner: <%= facility_work_order.owner.try(:name) %>
          </p>          
        </div>
        <%= image_tag("rightarrow_black.png", class: "right-arrow") %>
        <div class="due_date">
          Due Date: <%= facility_work_order.date_expire.try(:strftime,"%B %d") %>    

        </div>
        Requester: <%= facility_work_order.requester.try(:name) %>
        Date Created: <%= facility_work_order.created_at.try(:strftime,"%B %d") %>          
        Date Started: <%= facility_work_order.date_started.try(:strftime,"%B %d") %>
      </li>
      <hr class="mid-summary_ul_li_hr">
    <% end %>
    <% end %>
  </ul>
</div>


