<div id = "mid_facility-work-order">
  <ul id="mid-summary_ul">
    <% @facility_work_orders.each do |facility_work_order| %>
    <%= link_to(@link.to_s+facility_work_order.id.to_s) do %>
      <li
      class="mid-summary_ul_li"
      requester="<%=facility_work_order.requester.try(:name)%>"
      datecreated="<%= facility_work_order.created_at.to_s(:number) %>"
      owner="<%=facility_work_order.owner.try(:name)%>"
      status = "<%=facility_work_order.status%>"
      datestarted="<%= facility_work_order.date_started.try(:to_s, :number)%>"
      >
        <div class="status-<%= facility_work_order.status %>">
          <div class="status-text-<%= facility_work_order.status %>"></div>
        </div>
        <div class="element_details">
          <div class="element_title">
            <%=t(:work_order).titlecase %> <%= facility_work_order.id %>
          </div>
          <p class="element_requester">
            <%=t(:requester).capitalize%>: <%= facility_work_order.requester.try(:name) %>
          </p>
          <p class="element_owner">
            <%=t(:owner).capitalize%>: <%= facility_work_order.owner.try(:name) %>
          </p>          
        </div>
        <%= image_tag("rightarrow_black.png", class: "right-arrow") %>
        <div class="element_date">
          <div class="element_date_title">
            <%= t(:expire).capitalize %>
          </div>
          <%= facility_work_order.date_expire.try(:strftime,"%^b %d") %> 
        </div>

        <div class="element_date">
          <div class="element_date_title">
            <%= t(:start).capitalize %>
          </div>
          <%= facility_work_order.date_started.try(:strftime,"%^b %d") %> 
        </div>

        <div class="element_date">
          <div class="element_date_title">
            <%= t(:created).capitalize %>
          </div>
          <%= facility_work_order.created_at.try(:strftime,"%^b %d") %> 
        </div>
      </li>
      <hr class="mid-summary_ul_li_hr"><!--replace with border-->
    <% end %>
    <% end %>
  </ul>
</div>

