<!--fill in with names of boxes-->
<div id="object_additional-details">

<ul class="additional-details_nav">
  <li id="detail-icon" class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li id ="comment-icon"><a href="#comment" data-toggle="tab">Comment</a></li>
  <li id="cost-icon"><a href="#cost" data-toggle="tab">Cost</a></li>
  <li id="labor-icon"><a href="#labor" data-toggle="tab">Labor Hours</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="details">
  	
  </div>
  <div class="tab-pane" id="comment">
  	<%= render @facility_work_order_comments %>
    <%= render 'facility_work_order_comments/comment_new' %>
  </div>
  <div class="tab-pane" id="cost">
	 <%= render @facility_costs %>
   <%= render 'facility_costs/facility_cost_form' %>
  </div>
  <div class="tab-pane" id="labor">
    <%= render @facility_labor_hours %>
  	<%= render :partial => 'facility_labor_hours/facility_labor_hour_form' %>
  </div>
</div>

</div>






