  

<%= form_for(@input_object) do |f| %>
  <% if @input_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input_object.errors.count, "error") %> prohibited this input_object from being saved:</h2>
<ul> <% @input_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="object-form-left">
      <div class="item-info">    
        <div class="field-box">
          <div class="field-type"><%= @language['Owner'] %></div>
          <div class="field-info"><%= f.collection_select :owner_id, @users, :id, :name %></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Department'] %></div>
          <div class="field-info"><%= f.collection_select :department_id, @departments, :id, :name %></div>
        </div>
        <div class="field-box small">
          <div class="field-type"><%= @language['Date Created'] %></div>
          <%= DateTime.now %>
        </div>
        <div class="field-box small">
          <div class="field-type"><%= @language['Date Expires'] %></div>
          <div class="field-info"><%= f.date_select :date_expire %></div>
        </div>
      </div>

    </div>
    <div id="object-form-right">
        <div id="object-status-field">
          <%= @language['Status'] %>
          <%= f.select( :status, @status) %>
        </div>
        <div class = "icon"></div>

        <div class="actions">
            <%= f.submit %>
        </div>
    </div>

    <div id="object-form-bottom">
        <div class="item-info">   
            <div class="field">
              <%= @language['Description'] %><br>
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= @language['Cause Description'] %><br>
              <%= f.text_area :cause_description %>
            </div>

            <div class="field">
              <%= @language['Action Taken'] %><br>
              <%= f.text_area :action_taken %>
            </div>

            <div class="field">
              <%= @language['Prevention Taken'] %><br>
              <%= f.text_area :prevention_taken %>
            </div>
        </div>

    </div>
<% end %>
