<%= form_for(@input_object) do |f| %>
  <% if @input_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input_object.errors.count, "error") %> prohibited this input_object from being saved:</h2>
<ul> <% @input_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <div id="object-form-single-col">
        <div class="field-box">
          <div class="field-type"><%= @language['Status'] %></div>
          <div class="field-info">
            <%= f.select( :status, @status)%>
          </div>
        </div>
        <div class = "icon"></div>

        <div class="field-box">
          <div class="field-type"><%= @language['Owner'] %></div>
          <div class="field-info"><%= f.collection_select :owner_id, @users, :id, :name, :required => true  %></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Department'] %></div>
          <div class="field-info"><%= f.collection_select :department_id, @departments, :id, :name, :required => true  %></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Date Created'] %></div>
          <div class="field-info"><p><%= DateTime.now %></p></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Date Expires'] %></div>
          <div class="field-info"><%= f.date_select :date_expire, :required => true  %></div>
        </div>        
        <div class="field-box">
          <div class="field-type"><%= @language['Description'] %></div>
          <div class="field-info"><%= f.text_area :description, :required => true %></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Cause Description'] %></div>
          <div class="field-info"><%= f.text_area :cause_description, :required => true %></div>
        </div>

        <div class="field-box">
          <div class="field-type"><%= @language['Action Taken'] %></div>
          <div class="field-info"><%= f.text_area :action_taken %></div>
        </div>

        <div class="field-box">
          <div class="field-type"><%= @language['Prevention Taken'] %></div>
          <div class="field-info"><%= f.text_area :prevention_taken %></div>
        </div>

        <div class = "field-box">
          <div class="field-info">
            <% if @input_object.wr_origin %>
              <%= f.hidden_field :wr_origin %>
            <% else %>
              <%= f.hidden_field :pm_origin %>
            <% end %>
          </div>
        </div>          

        <div class="actions">
          <%= f.submit @language ['Create Work Order']%>
        </div>

      </div>
    
<% end %>
