<h1><%= "Editing Work Order" %></h1>

<%= render 'object_form' %>

<!--
=begin
<div>
	<div id="left_half">

		ID: <input type="text" name="id" value="<%= @facility_work_order.id %>">
		date requested: <input type="date" name="date requested" value="<%= @facility_work_order.date_requested %>">
		date expire: <input type="date" name="date expire" value="<%= @facility_work_order.date_expire %>">
		date completed: <input type="date" name="date completed" value="<%= @facility_work_order.date_completed %>">
		created at <input type="date" name="created at" value="<%= @facility_work_order.created_at %>">
		updated at <input type="date" name="updated at" value="<%= @facility_work_order.updated_at %>">
		request type <input type="number" name="request type" value="<%= @facility_work_order.request_type %>">
		item <input type="number" name="item" value="<%= @facility_work_order.item %>">
		cost <input type="number" name="cost" value="<%= @facility_work_order.cost %>">
		status <input type="number" name="status" value="<%= @facility_work_order.status %>">
		owner id <input type="number" name="owner id" value="<%= @facility_work_order.owner_id %>">
		requester id <input type="number" name="requester id" value="<%= @facility_work_order.requester_id %>">
		description <input type="text" name="description" value="<%= @facility_work_order.description %>">
		cause description <input type="text" name="cause description" value="<%= @facility_work_order.cause_description %>">
		action taken <input type="text" name="action taken" value="<%= @facility_work_order.action_taken %>">
		prevention taken <input type="text" name="prevention taken" value="<%= @facility_work_order.prevention_taken %>">
	</div>
		

</div>
=end
-->