<div id="object-form_top">
  <%= form_for(@facility_work_order) do |f| %>
    <% if @facility_work_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@facility_work_order.errors.count, "error") %> prohibited this facility_work_order from being saved:</h2>
            <ul> 
              <% @facility_work_order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>x
    <% end %>

    <div id="object-form-left">
      <div class="item-info">    
      	<div class="field-box">
          <div class="field-type"><%= @language['Requester'] %></div>
          <div class="field-info"><div id="requester"><%= @facility_work_order.requester.try(:name) %></div></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Owner'] %></div>
          <div class="field-info"><%= f.collection_select :owner_id, @users, :id, :name, :id => "owner", :required => true %></div>
        </div>
        <div class="field-box">
          <div class="field-type"><%= @language['Department'] %></div>
          <div class="field-info"><%= f.collection_select :department_id, @departments, :id, :name, :required => true %></div>
        </div>
      </div>
    </div>

    <div id="object-form-right">
        <div id="field-box_item-id">
          <div class="item-id">
          <%= @language['Work Order'] %> # <%= @facility_work_order.id %>
          </div>
        </div>

        <div id="object-status-field">
          <%= f.select( :status, @status) %>
		  <% if @facility_work_order.destroyed? %>
			  <%= link_to "", hide_facility_work_order_path(@facility_work_order), title:"Unhide work order", rel:"tooltip", method: :put, :id => "archive-button_right", :required => true %>
		  <% else %>
			  <%= link_to "", hide_facility_work_order_path(@facility_work_order), title:"Hide work order", rel:"tooltip", method: :put, :id => "archive-button_right", :required => true%>
		  <% end %>
		  <%= link_to "", '#', onclick: "printdetailpage(); return false;", :id => "print-button_right", :required => true%>
        </div>

        <div class="actions">
            <%= f.submit @language['Save Changes'] %>
        </div>
    </div>

    <div id="object-form-bottom">
      <div class="field-box-date">
        <hr class="color-code-line" id="created-line">
          <div class="field-type">
            <%= @language['Date Created'] %>
          </div>
          <div class="field-info"><%= @facility_work_order.created_at.try(:strftime,"%^b %d, %Y") %></div>
        </div>
        <div class="field-box-date">
          <hr class="color-code-line" id="started-line">
          <div class="field-type"><%= @language['Date Started'] %></div>
          <div class="field-info">
              <%= @facility_work_order.date_started.try(:strftime,"%^b %d, %Y") %>
          </div>
        </div>
        <div class="field-box-date">
          <hr class="color-code-line" id="expired-line">
          <div class="field-type"><%= @language['Expected Date of Completion'] %></div>
          <div class="field-info"><%= f.date_select :date_expire, use_short_month: true %></div>
        </div>
        <div class="field-box-date">
          <hr class="color-code-line" id="completed-line">
          <div class="field-type"><%= @language['Date Completed'] %></div>
          <div class="field-info"><%= @facility_work_order.date_completed.try(:strftime,"%^b %d, %Y") %></div>
        </div>
        <div class="field-box-description">   
            <div class="field-type"><%= @language['Description'] %></div>
            <div class="field-info"><%= f.text_area :description, :required => true %></div>
        </div>

    </div>
  <%end%>

</div>
