<div>
	<div id="left_half">
		<p>
			ID <%= @facility_work_order.id %>
		</p>

		<p>
			date requested <%= @facility_work_order.date_requested %>
		</p>
		<p>
			date expire <%= @facility_work_order.date_expire %>
		</p>

		<p>
			date completed <%= @facility_work_order.date_completed %>
		</p>

		<p>
			created at <%= @facility_work_order.created_at %>
		</p>
		<p>	
			updated at <%= @facility_work_order.updated_at %>
		</p>
		<p>	
			request type <%= @facility_work_order.request_type %>
		</p>
		<p>	
			item <%= @facility_work_order.item %>
		</p>
		<p>	
			cost <%= @facility_work_order.cost %>
		</p>
		<p>	
			status <%= @facility_work_order.status %>
		</p>
		<p>	
			owner id <%= @facility_work_order.owner_id %>
		</p>
		<p>	
			requester id <%= @facility_work_order.requester_id %>
		</p>
		<p>	
			description <%= @facility_work_order.description %>
		</p>
		<p>	
			cause description <%= @facility_work_order.cause_description %>
		</p>
		<p>	
			action taken <%= @facility_work_order.action_taken %>
		</p>
		<p>	
			prevention taken <%= @facility_work_order.prevention_taken %>
		</p>

	</div>	

</div>
<!--
<p>
        <strong><%#= @language['Date Requested'] %>:</strong>
        <%#= @work_request.date_requested %>
      </p>
      -->