<h1><%= t(:role).capitalize %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name).capitalize %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to t(:show).capitalize, role %></td>
        <td><%= link_to t(:edit).capitalize, edit_role_path(role) %></td>
        <td><%= link_to t(:destroy).capitalize, role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_role).titlecase, new_role_path %>
