<h1><%= @language['Role'] %></h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Name'] %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to @language['Show'], role %></td>
        <td><%= link_to @language['Edit'], edit_role_path(role) %></td>
        <td><%= link_to @language['Destroy'], role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to @language['New Role'], new_role_path %>
