<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name).capitalize%>:</strong>
  <%= @role.name %>
</p>

<%= link_to t(:edit).capitalize, edit_role_path(@role) %> |
<%= link_to t(:back).capitalize, roles_path %>
