<p id="notice"><%= notice %></p>

<p>
  <strong><%= @language['Name']%>:</strong>
  <%= @role.name %>
</p>

<%= link_to @language['Edit'], edit_role_path(@role) %> |
<%= link_to @language['Back'], roles_path %>
