<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @language['Domain'] %><br>
    <%= f.text_field :asset_id %>
  </div>
 <div class="field">
    <%= @language['Model'] %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= @language['Serial Number'] %><br>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= @language['Year Manufactured'] %><br>
    <%= f.number_field :year_manufactured %>
  </div>
  <div class="field">
    <%= @language['Funding'] %><br>
    <%= f.text_field :funding %>
  </div>
  <div class="field">
    <%= @language['Date Received'] %><br>
    <%= f.date_select :date_received %>
  </div>
  <div class="field">
    <%= @language['Warranty Expires'] %><br>
    <%= f.date_select :warranty_expire %>
  </div>
  <div class="field">
    <%= @language['Contract Expires'] %><br>
    <%= f.date_select :contract_expire %>
  </div>
  <div class="field">
    <%= @language['Warranty Notes'] %><br>
    <%= f.text_area :warranty_notes %>
  </div>
  <div class="field">
    <%= @language['Service Agent'] %><br>
    <%= f.text_field :service_agent %>
  </div>
  <div class="field">
    <%= @language['Location'] %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= @language['Item Type'] %><br>
    <%= f.number_field :item_type %>
  </div>
  <div class="field">
    <%= @language['Price'] %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
