<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br>
    <%= f.number_field :domain %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.number_field :tag %>
  </div>
    <div class="field">
    <%= f.label :model_id %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :year_manufactured %><br>
    <%= f.number_field :year_manufactured %>
  </div>
  <div class="field">
    <%= f.label :funding %><br>
    <%= f.text_field :funding %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br>
    <%= f.date_select :date_received %>
  </div>
  <div class="field">
    <%= f.label :warranty_expire %><br>
    <%= f.date_select :warranty_expire %>
  </div>
  <div class="field">
    <%= f.label :contract_expire %><br>
    <%= f.date_select :contract_expire %>
  </div>
  <div class="field">
    <%= f.label :warranty_notes %><br>
    <%= f.text_area :warranty_notes %>
  </div>
  <div class="field">
    <%= f.label :service_agent %><br>
    <%= f.text_field :service_agent %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :item_type %><br>
    <%= f.number_field :item_type %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
