<h1><%= @language['All Items']+' '+@language['Detailed View'] %></h1>

<%= link_to @language['Simple View'], "/items" %><br>
<%= link_to '+ '+@language['Item'], new_item_path %>
<table>
  <thead>
    <tr>
      <th><%= @language['Domain'] %></th>
      <th><%= @language['Category'] %></th>
      <th><%= @language['Model'] %></th>
      <th><%= @language['Serial Number'] %></th>
      <th><%= @language['Year Manufactured'] %></th>
      <th><%= @language['Funding'] %></th>
      <th><%= @language['Date Received'] %></th>
      <th><%= @language['Warranty Expires'] %></th>
      <th><%= @language['Contract Expires'] %></th>
      <th><%= @language['Warranty Notes'] %></th>
      <th><%= @language['Service Agent'] %></th>
      <th><%= @language['Location'] %></th>
      <th><%= @language['Item Type'] %></th>
      <th><%= @language['Price'] %></th>
      <th><%= @language['Recent History'] %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.asset_id %></td>
        <td><%= item.model.category %></td>
        <td><%= item.model_id %></td>
        <td><%= item.serial_number %></td>
        <td><%= item.year_manufactured %></td>
        <td><%= item.funding %></td>
        <td><%= item.date_received %></td>
        <td><%= item.warranty_expire %></td>
        <td><%= item.contract_expire %></td>
        <td><%= item.warranty_notes %></td>
        <td><%= item.service_agent %></td>
        <td><%= item.location_id %></td>
        <td><%= item.item_type %></td>
        <td><%= item.price %></td>
        <td>
          <% if not item.item_histories.empty? %>
          <%= item.item_histories[0].remarks %>
          <% end %>
        </td>
        <td><%= link_to @language['Show'], item %></td>
        <td><%= link_to @language['Edit'], edit_item_path(item) %></td>
        <td><%= link_to @language['Delete'], item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

