<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Tag</th>
      <th>Category</th>
      <th>Serial number</th>
      <th>Year manufactured</th>
      <th>Funding</th>
      <th>Date received</th>
      <th>Warranty expire</th>
      <th>Contract expire</th>
      <th>Warranty notes</th>
      <th>Service agent</th>
      <th>Item type</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.domain %></td>
        <td><%= item.tag %></td>
        <td><%= item.category %></td>
        <td><%= item.serial_number %></td>
        <td><%= item.year_manufactured %></td>
        <td><%= item.funding %></td>
        <td><%= item.date_received %></td>
        <td><%= item.warranty_expire %></td>
        <td><%= item.contract_expire %></td>
        <td><%= item.warranty_notes %></td>
        <td><%= item.service_agent %></td>
        <td><%= item.item_type %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
