<h1><%= @language['All Items'] %></h1>

<%= link_to @language['Detailed View'], "/detailed_items" %><br>
<%= link_to '+ '+@language['Item'], new_item_path %>
<table>
  <thead>
    <tr>
      <th><%= @language['ID'] %></th>
      <th><%= @language['Model'] %></th>
      <th><%= @language['Location'] %></th>
      <th><%= @language['Recent History'] %></th>
      <!--
      <th>Asset ID</th>
      <th>Model</th>
      <th>Serial number</th>
      <th>Year manufactured</th>
      <th>Funding</th>
      <th>Date received</th>
      <th>Warranty expire</th>
      <th>Contract expire</th>
      <th>Warranty notes</th>
      <th>Service agent</th>
      <th>Location</th>
      <th>Item type</th>
      <th>Price</th>
      <th>Recent History</th>
      -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.model.name, item.model %></td>
        <td><%= item.location.locationstr %></td>
        <td>
          <% if not item.item_histories.empty? %>
          <%= item.item_histories[0].remarks %>
          <% end %>
        </td>

        <!--
        <td><%= item.asset_id %></td>
        <td><%= item.model.category %></td>
        <td><%= item.model.manufacturer_name %></td>
        <td><%= item.model_id %></td>
        <td><%= item.serial_number %></td>
        <td><%= item.year_manufactured %></td>
        <td><%= item.funding %></td>
        <td><%= item.date_received %></td>
        <td><%= item.warranty_expire %></td>
        <td><%= item.contract_expire %></td>
        <td><%= item.warranty_notes %></td>
        <td><%= item.service_agent %></td>
        <td><%= item.location_id %></td>
        <td><%= item.item_type %></td>
        <td><%= item.price %></td>
        <td>
          <% if not item.item_histories.empty? %>
          <%= item.item_histories[0].remarks %>
          <% end %>
        </td>
         -->
        <td><%= link_to @language['Show'], item %></td>
        <td><%= link_to @language['Edit'], edit_item_path(item) %></td>
        <td><%= link_to @language['Delete'], item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

