<div class="items">
<%= link_to 'Edit', edit_item_path(@item) %> 
<div class="attributes">
	<div class="left-attributes">
<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @item.domain %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @item.tag %>
</p>


<p>
  <strong>Model ID:</strong>
  <%= @item.model_id %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @item.serial_number %>
</p>

<p>
  <strong>Year manufactured:</strong>
  <%= @item.year_manufactured %>
</p>

<p>
  <strong>Funding:</strong>
  <%= @item.funding %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @item.date_received %>
</p>

<p>
  <strong>Warranty expire:</strong>
  <%= @item.warranty_expire %>
</p>

<p>
  <strong>Contract expire:</strong>
  <%= @item.contract_expire %>
</p>

<p>
  <strong>Warranty notes:</strong>
  <%= @item.warranty_notes %>
</p>

<p>
  <strong>Service agent:</strong>
  <%= @item.service_agent %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location_id %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
</div>
<div class="right-attributes">
	<p class="status">
		<strong>Status:</strong>
		<%= @item_history %>
		</p>
</div>
</div>
<p> <span class="comment-title"> Recent Status </span>
<form class="create-comment" action="/item_histories/new" method="GET"> <input type="submit" value="+ Add New Item Status" />
</form>
</p>
<div class="comment">
	<table>
		<thead>
			<th> Time Changed </th>
			<th> Status </th>
			<th> Remarks  </th>
		</thead>
		<tbody>
				<tr>
				</tr>
		</tbody>
	</table>
</div>  -

</div>
