
<%= form_for(@bmet_model) do |f| %>
  <% if @bmet_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmet_model.errors.count, "error") %> prohibited this bmet_model from being saved:</h2>
      <ul><% @bmet_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <div id="object-form-single-col">

    <div id="field-box_item-id">
      <div class="item-id">
        <%= t(:model).capitalize %> #<%= @bmet_model.id %>
      </div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= t(:item_group).capitalize %><br></div>
      <div class="field-info"><%= f.collection_select :item_group_id, @item_groups, :id, :name %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= t(:category).capitalize %><br></div>
      <div class="field-info"><%= f.text_area :category %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= t(:manufacturer).capitalize %> <%= t(:name).capitalize %><br></div>
      <div class="field-info"><%= f.text_area :manufacturer_name %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= t(:model).capitalize %> <%= t(:name).capitalize %><br></div>
      <div class="field-info"><%= f.text_area :model_name %></div>
    </div>    
    <div class="field-box">
      <div class="field-type"><%= t(:items_of_the_same_model).titlecase %><br></div>
      <div>
        <ul>
          <% @bmet_model.associated_items.each do |bmet_item| %>
            <li>
              <%= link_to "#{bmet_item.asset_id}", bmet_item %> at <%= bmet_item.location %>
              <%# end %>
            </li>
          <% end %>          
        </ul>
      </div>
    </div>          
    <div class="field-box">
      <div class="field-type"><%= t(:created_at).titlecase %></div>
      <div class="field-info">
        <p><%= @bmet_model.created_at %></p>
      </div>
    </div>   
    <div class="action_submit">
      <%= f.submit t(:save_changes).titlecase%>
    </div>
  </div>
<% end %>