<p id="notice"><%= notice %></p>

<p>
  <strong>Model name:</strong>
  <%= @bmet_model.model_name %>
</p>

<p>
  <strong>Manufacturer name:</strong>
  <%= @bmet_model.manufacturer_name %>
</p>

<p>
  <strong>Vendor name:</strong>
  <%= @bmet_model.vendor_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bmet_model.category %>
</p>

<%= link_to 'Edit', edit_bmet_model_path(@bmet_model) %> |
<%= link_to 'Back', bmet_models_path %>
