<div id='left-top'>
  <div id="top-dropdown">

    <%= t(:sort).capitalize %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= t(:select_attribute).titlecase %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
       <a onclick = "sort_by_date('datedue')">
        <%= t(:due_date).titlecase %>
       </a>
       </div>
       <div>
       <a onclick = "sort_by_num('dayssince')">
        <%= t(:days_since).titlecase %>
       </a>
       </div>   
      </ul>
    </div>
    &nbsp&nbsp&nbsp&nbsp
   <%= "View" %>
  <div class="dropdown">
	  <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
		  Select View:
		  <b class="caret"></b>
	  </a>
	  <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
		  <div>
			  <a href="<%= facility_preventative_maintenances_url+"/unhidden" %>">
				  Visible PM
			  </a>
		  </div>
		  <div>
			  <a href="<%= facility_preventative_maintenances_url+"/hidden" %>">
			  	  Hidden PM
			  </a>
		  </div>
		  <div>
			  <a href="<%= facility_preventative_maintenances_url+"/all" %>">
			  	  All PM
			  </a>
		  </div>
	  </ul>
  </div>
    &nbsp&nbsp&nbsp&nbsp
    <%= form_tag search_facility_preventative_maintenances_path, method: 'get' do %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag :search %>
    <% end %>
  </div>

  <div id="top-button">
    <a href= "<%=new_facility_preventative_maintenance_path%>" id='add-button'></a>
  </div>

  <div id="top-button">
	  <%= link_to t(:export_data).titlecase, facility_preventative_maintenances_url+"/download" %>
  </div>
</div>
