<div>
  <ul id="mid-summary_ul">
    <% @facility_preventative_maintenances.each do |facility_preventative_maintenance| %>
      <li class="mid-summary_ul_li">

        <div class="status-<%= facility_preventative_maintenance.status %>">
          status is <%= facility_preventative_maintenance.status %>
        </div>

        <div class="details">
          <p class="description">
            PM <%= facility_preventative_maintenance.id %> : <%= facility_preventative_maintenance.description[0...50] +  "..." %>
          </p>
        </div>
        <div class="due_date">
          Due Date: <%= facility_preventative_maintenance.next_date %>
        </div>
        <div class="days_since">
          Days Since : <%= facility_preventative_maintenance.days_since %>  
        </div>
	<div class="days">

	</div>
      </li>
    <% end %>
  </ul>
</div>
