<p><%= "Preventative Maintenance" %></p>

<%= form_for(@facility_preventative_maintenance) do |f| %>
  <% if @facility_preventative_maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_preventative_maintenance.errors.count, "error") %> prohibited this facility_preventative_maintenance from being saved:</h2>
      <ul><% @facility_preventative_maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    Days
    <%= @language['Days'] %><br>
    <%= f.number_field :days %>
  </div>
  <div class="field">
    Weeks
    <%= @language['Weeks'] %><br>
    <%= f.number_field :weeks %>
  </div>
  <div class="field">
    Months
    <%= @language['Months'] %><br>
    <%= f.number_field :months %>
  </div>  
  <div class="field">
    <%= @language['Description'] %><br>
    <%= f.text_area :description %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>