
<%= form_for(@facility_preventative_maintenance) do |f| %>
  <% if @facility_preventative_maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_preventative_maintenance.errors.count, "error") %> prohibited this facility_preventative_maintenance from being saved:</h2>
      <ul><% @facility_preventative_maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <div id="object-form-left">
    <div class="field-box">
      <div class="field-type"><%= @language['Last Date Checked'] %></div>
      <%= @facility_preventative_maintenance.last_date_checked %>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Next Date'] %></div>
      <div class="field-info"><%= @facility_preventative_maintenance.next_date %></div>
    </div>
  	<div class="field-box">
      <div class="field-type"><%= @language['Days Since'] %></div>
      <div class="field-info"><%= @facility_preventative_maintenance.days_since %></div>
    </div>

    <div class="field-box">
      <div class="field-type"><%= @language['Days'] %></div>
      <div class="field-info"><%= f.number_field :days %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Weeks'] %></div>
      <div class="field-info"><%= f.number_field :weeks %></div>
    </div>
    <div class="field-box">
      <div class="field-type"><%= @language['Months'] %></div>
      <div class="field-info"><%= f.number_field :months %></div>
    </div>  
    <div class="field-box">
      <div class="field-type"><%= @language['Description'] %></div>
      <div class="field-info"><%= f.text_area :description %></div>
    </div>
   
   <div id="object-form-right">
      <div class="actions">
        <%= f.submit @language['Save Changes']%>
      </div>
    </div>
  </div>
<% end %>