<h1><%= "Editing #{@language['Work Request']}" %></h1>

<%= form_for(@facility_preventative_maintenance) do |f| %>
  <% if @facility_preventative_maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_preventative_maintenance.errors.count, "error") %> prohibited this facility_preventative_maintenance from being saved:</h2>
<ul> <% @facility_preventative_maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
  <div class="field">
    <%= @language['Owner'] %><br>
  <%#= f.collection_select :owner_id, @users, :id, :name %>
    <%= f.number_field :owner_id %>
  </div>

  <div class="field">
    <%= @language['Date Requested'] %><br>
    <%= f.datetime_select :date_requested %>
  </div>
  <div class="field">
    <%= @language['Date Expires'] %><br>
    <%= f.datetime_select :date_expire %>
  </div>
  <div class="field">
    <%= @language['Date Completed'] %><br>
    <%= f.datetime_select :date_completed %>
  </div>  
  <div class="field">
    <%= @language['Request Type'] %><br>
    <%= f.number_field :request_type %>
  </div>
  <div class="field">
    <%= @language['Item ID'] %><br>
    <%= f.text_area :item  %>
  </div>
  <div class="field">
    <%= @language['Cost'] %>
<br> <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= @language['Description'] %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= @language['Status'] %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= @language['Cause Description'] %><br>
    <%= f.text_area :cause_description %>
  </div>
  <div class="field">
    <%= @language['Action Taken'] %><br>
    <%= f.text_area :action_taken %>
  </div>
  <div class="field">
    <%= @language['Prevention Taken'] %><br>
    <%= f.text_area :prevention_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to @language['Show'], @facility_preventative_maintenance %> |
<%= link_to @language['Back'], facility_preventative_maintenances_path %>
