<div>
	<div id="left_half">
		<p>
			<%=@language['ID'] %>:
			<%= @facility_preventative_maintenance.id %>
		</p>

		<p>
			<%=@language['Last Date Checked'] %>:
			<%= @facility_preventative_maintenance.last_date_checked %>
		</p>
		<p>
			<%=@language['Days'] %>:
			<%= @facility_preventative_maintenance.days %>
		</p>

		<p>
			<%=@language['Weeks'] %>:
			<%= @facility_preventative_maintenance.weeks %>
		</p>

		<p>
			<%=@language['Months'] %>:
			<%= @facility_preventative_maintenance.months %>
		</p>
		<p>	
			<%=@language['Next Date'] %>:
			<%= @facility_preventative_maintenance.next_date %>
		</p>
		<p>	
			<%=@language['Created At'] %>:
			<%= @facility_preventative_maintenance.created_at %>
		</p>
		<p>	
			<%=@language['Updated At'] %>:
			<%= @facility_preventative_maintenance.updated_at %>
		</p>
		

	</div>	

</div>

      
