<div>
	<div id="left_half">
		<p>
			<%=t(:id).capitalize %>:
			<%= @facility_preventative_maintenance.id %>
		</p>

		<p>
			<%=t(:last_date_checked).titlecase %>:
			<%= @facility_preventative_maintenance.last_date_checked %>
		</p>
		<p>
			<%=t(:days).capitalize %>:
			<%= @facility_preventative_maintenance.days %>
		</p>

		<p>
			<%=t(:weeks).capitalize %>:
			<%= @facility_preventative_maintenance.weeks %>
		</p>

		<p>
			<%=t(:months).capitalize %>:
			<%= @facility_preventative_maintenance.months %>
		</p>
		<p>	
			<%=t(:next_date).titlecase %>:
			<%= @facility_preventative_maintenance.next_date %>
		</p>
		<p>	
			<%=t(:created_at).titlecase %>:
			<%= @facility_preventative_maintenance.created_at %>
		</p>
		<p>	
			<%=t(:updated_at).titlecase %>:
			<%= @facility_preventative_maintenance.updated_at %>
		</p>
		

	</div>	

</div>

      
