<div>
	<div id="left_half">
		<p>
			<%=@language['ID'] %>:
			<%= @facility_preventative_maintenance.id %>
		</p>

		<p>
			<%=@language['Date Requested'] %>:
			<%= @facility_preventative_maintenance.date_requested %>
		</p>
		<p>
			<%=@language['Date Expires'] %>:
			<%= @facility_preventative_maintenance.date_expire %>
		</p>

		<p>
			<%=@language['Date Completed'] %>:
			<%= @facility_preventative_maintenance.date_completed %>
		</p>

		<p>
			<%=@language['Created At'] %>:
			<%= @facility_preventative_maintenance.created_at %>
		</p>
		<p>	
			<%=@language['Updated At'] %>:
			<%= @facility_preventative_maintenance.updated_at %>
		</p>
		<p>	
			<%=@language['Request Type'] %>:
			<%= @facility_preventative_maintenance.request_type %>
		</p>
		<p>	
			<%=@language['Item'] %>:
			<%= @facility_preventative_maintenance.item %>
		</p>
		<p>	
			<%=@language['Cost'] %>:
			<%= @facility_preventative_maintenance.cost %>
		</p>
		<p>	
			<%=@language['Status'] %>:
			<%= @facility_preventative_maintenance.status %>
		</p>
		<p>	
			<%=@language['Owner ID'] %>:
			<%= @facility_preventative_maintenance.owner_id %>
		</p>
		<p>	
			<%=@language['Requester ID'] %>:
			<%= @facility_preventative_maintenance.requester_id %>
		</p>
		<p>	
			<%=@language['Description'] %>:
			<%= @facility_preventative_maintenance.description %>
		</p>
		<p>	
			<%=@language['Cause Description'] %>:
			<%= @facility_preventative_maintenance.cause_description %>
		</p>
		<p>	
			<%=@language['Action Taken'] %>:
			<%= @facility_preventative_maintenance.action_taken %>
		</p>
		<p>	
			<%=@language['Prevention Taken'] %>:
			<%= @facility_preventative_maintenance.prevention_taken %>
		</p>

	</div>	

</div>

      