<!--styling linked to WO additional details-->
<div id="object_extra-details">


  <ul class="extra-details_nav">
    <li id ="comment-icon" class="active"><a href="#history" data-toggle="tab">Item History</a></li>
    <li id="cost-icon"><a href="#costs" data-toggle="tab">Costs</a></li>
    <li id="work-order-history-icon"><a href="#wohistory" data-toggle="tab">Work Order History</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="history">
      <div class="extra-details_content">
        <div class='extra-details_title'>
        <%= t(:history).capitalize %>
        </div>
      	<ul id='bmet_item_history_ul'>
          <%= render @bmet_item_histories %>
        </ul>
      </div>
    </div>

    <div class = "tab-pane" id = "costs">
      <div class = "extra-details_content">
        <div class = "extra-details_title">
          <%= t(:costs).capitalize %>
        </div>
        <ul id = "bmet_item_history_ul">
          <%= render 'bmet_item_costs' %>
        </ul>
      </div>
    </div>

    <div class = "tab-pane" id = "wohistory">
      <div class = "extra-details_content">
        <div class = "extra-details_title">
          <%= t(:work_order).titlecase + " " + t(:history).capitalize %>
        </div>
        <ul id = "bmet_item_history_ul">
          <%= render 'bmet_item_wo_history' %>
        </ul>
      </div>
    </div>

  </div>

</div>






