<div id='left-top'>
  <div id="top-dropdown">    
    <%= t(:sort).capitalize %>: <div class="dropdown">
      <a id="facworkorder_sort" role="button" data-toggle="dropdown" href="#">
        <%= t(:select_attribute).titlecase %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="facworkorder_sort">
       <div>
        <div>
         <a onclick = "attrsort('modelname', 'desc')">
          <%= t(:model).titlecase + " " + t(:name).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('assetid', 'desc')">
          <%= t(:asset_id).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('department', 'desc')">
          <%= t(:department).titlecase %>
         </a>
       </div>
       <div>
         <a onclick = "attrsort('location', 'desc')">
          <%= t(:location).titlecase %>
         </a>
       </div>

       </div>      
      </ul>

    </div>
    <div></div>
  </div>

  <div id="top-button">
    <%= link_to "", '#', onclick: "printmainpage(); return false;", :id => "print-button" %>
    <a href= "<%=new_bmet_item_path%>" id='add-button'></a>
    <%= link_to t(:export_data).titlecase, bmet_items_url+"/download" %>
  </div>
    <div id = "top-button">
    <%= form_tag stage_import_bmet_items_path, multipart: true do %>
      <%= file_field_tag :file, accept: 'text/csv' %>  </div>
      <div id = "top-button"><%= submit_tag "Import" %>
    <% end %></div>

  
</div>