<div id="bmet_item_summary">
  <div id="object_table_layout">
    <%= form_for(@bmet_item) do |f| %>
      <% if @bmet_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bmet_item.errors.count, "error") %> prohibited this bmet_item from being saved:</h2>
          <ul><% @bmet_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="action-bar">
        <div id="field-box_item-id">      
          <div class="item-id"><%= @bmet_item.asset_id %></div>
        </div>
        <div class="bmet_item_condition %>">      
          <%= t(:condition).upcase %>
          <div class="action-bar-box_text">
            <%= f.select :condition, @conditions %>
          </div>
        </div>
        <div class="bmet_item_status bmet_item_status-<%= @bmet_item.try(:status) %>">      
          <%= t(:status).upcase %>
          <div class="action-bar-box_text ">
            <%= f.select :status, @status %>
          </div>
        </div>
        <div id="print-button_right"></div>
        <%= link_to(t(:create_wo).upcase, new_bmet_work_order_url, {:class => "create_wo_for_item"}) %>
        <div class="action_submit">
          <%= f.submit t(:save).titlecase%>
        </div>
        
        
      </div>
      <!-- can put inside the url parameter but shouldn't be able to imposter as another user -->
      <div id="properties-box">
        <table id="properties-table">
          <tr>
            <td>
              <%= t(:model).capitalize %>
              <%= link_to '('+t(:current).capitalize+')', @bmet_item.bmet_model %>
            </td>
            <td style="width:50px"><%= f.collection_select :bmet_model_id, @bmet_models, :id, :name %></td>
          </tr>
          <tr>
            <td><%= t(:location).capitalize %></td>
            <td><%= f.text_field :location %></td>
          </tr>
          <tr>
            <td><%= t(:asset_id).titlecase %></td>
            <td><%= f.text_field :asset_id %></td>
          </tr>
          <tr>
            <td><%= t(:serial_number).titlecase %></td>
            <td><%= f.text_field :serial_number %></td>
          </tr>
          <tr>
            <td><%= t(:department).capitalize %></td>
            <td><%= f.collection_select :department_id, @departments, :id, :name %></td>
          </tr>
          <tr>
            <td><%= t(:year_manufactured).titlecase %></td>
            <td><%= f.number_field :year_manufactured %></td>
          </tr>
          <tr>
            <td><%= t(:funding).capitalize %></td>
            <td><%= f.text_field :funding %></td>
          </tr>
          <tr>
            <td><%= t(:date_received).titlecase %></td>
            <td><%= f.date_select :date_received %></td>
          </tr>
          <tr>
            <td><%= t(:warranty_expires).titlecase %></td>
            <td><%= f.date_select :warranty_expire %></td>
          </tr>
          <tr>
            <td><%= t(:contract_expires).titlecase %></td>
            <td><%= f.date_select :contract_expire %></td>
          </tr>
          <tr>
            <td><%= t(:warranty_notes).titlecase %></td>
            <td><%= f.text_area :warranty_notes %></td>
          </tr>
          <tr>
            <td><%= t(:service_agent).titlecase %></td>
            <td><%= f.text_field :service_agent %></td>
          </tr>
          <tr>
            <td><%= t(:price).capitalize %></td>
            <td><%= f.number_field :price %></td>
          </tr>
          <tr>
            <td><%= t(:created_at).titlecase %></td>
            <td><%= @bmet_item.created_at.try(:strftime,"%^b %d, %Y") %></td>
          </tr>
        </table>     

      </div>
    <% end %>
  </div>
</div>