<div id = "import_confirmation" >
	<strong> Items and associated models to import: </strong>
	<br>
	<table style="float: left" class = "import_confirmation_table">
		<tr>
			<th>Serial Number</th>
			<th>Year Manufactured</th>
			<th>Funding</th>
			<th>Date Received</th>
			<th>Warranty Expiration</th>
			<th>Warranty Notes</th>
			<th>Contract Expiration</th>
			<th>Service Agent</th>
			<th>Price</th>
			<th>Asset ID</th>
			<th>Item Type</th>
			<th>Location</th>
			<th>Department</th>
		</tr>
		<% items_table = StagingItem.get_matches %>
		<% items_table.each do |row| %>
			<tr>
				<% row.each do |cell| %>
						<% if cell[1] == 'unchanged' %>
							<% bg_color = '#999999' %>
						<% elsif cell[1] == 'changed' %>
							<% bg_color = '#55aa2b' %>
						<% elsif cell[1] == 'error' %>
							<% bg_color = '#e9593e' %>
						<% end %>
						<td bgcolor = <%=bg_color%> ><%= cell[0] %></td>
					<% end %>
		<% end %>
	</table>
			<table class = "import_confirmation_table">
			<tr>
				<th> Model Name </th>
				<th> Manufacturer Name </th>
				<th> Vendor Name </th>
			</tr>
			<% models_table = StagingModel.get_matches %>
			<% models_table.each do |row| %>
				<tr>
					<% row.each do |cell| %>
						<% if cell[1] == 'unchanged' %>
							<% bg_color = '#999999' %>
						<% elsif cell[1] == 'changed' %>
							<% bg_color = '#55aa2b' %>
						<% end %>
						<td bgcolor = <%=bg_color%>><%= cell[0] %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
 	<br>
 	<div class = 'import_button'>
  	<%= button_to	 "Confirm Import", '/bmet_items_import'  %>
	</div>

<br>
</div>