<strong> Inventory list: </strong>
<br>
<table id = "print-items-table">
	<tr>
		<th><%= t(:asset).capitalize + " " + t(:id).upcase %></th>
		<th><%= t(:name).capitalize %></th>
		<th><%= link_to t(:department).capitalize, "/bmet_items_main_list_print_view_by_department" %></th>
		<th><%= t(:location).capitalize %></th>
	</tr>
	<% @bmet_items.each do |item| %>
		<tr>
			<td><%= item.asset_id %></td>
			<td><%= item.bmet_model.name %></td>
			<td><%= item.department.name %></td>
			<td><%= item.location %></td>
		</tr>
	<% end %>
</table>