<h1>Listing texts</h1>

<table>
  <thead>
    <tr>
      <th><%= @language['Content']%></th>
      <th><%= @language['Number']%></th>
      <th><%= @language['Work Request']%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.content %></td>
        <td><%= text.number %></td>
        <td><%= text.work_request_id %></td>
        <td><%= link_to @language['Show'], text %></td>
        <td><%= link_to @language['Edit'], edit_text_path(text) %></td>
        <td><%= link_to @language['Destroy'], text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to @language['New Text'], new_text_path %>
