<h1>Listing texts</h1>

<table>
  <thead>
    <tr>
      <th><%= t(:content).capitalize%></th>
      <th><%= t(:number).capitalize%></th>
      <th><%= t(:work_request).titlecase%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.content %></td>
        <td><%= text.number %></td>
        <td><%= text.bmet_work_order_id %></td>
        <td><%= link_to t(:show).capitalize, text %></td>
        <td><%= link_to t(:edit).capitalize, edit_text_path(text) %></td>
        <td><%= link_to t(:destroy).capitalize, text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_text).titlecase, new_text_path %>
