<p id="notice"><%= t(:notice).capitalize %></p>

<p>
  <strong><%= t(:content).capitalize %>:</strong>
  <%= @text.content %>
</p>

<p>
  <strong><%= t(:number).capitalize %>:</strong>
  <%= @text.number %>
</p>

<p>
  <strong><%= t(:work_request).titlecase %>:</strong>
  <%= @text.bmet_work_order_id %>
</p>

<%= link_to t(:edit).capitalize, edit_text_path(@text) %> |
<%= link_to t(:back).capitalize, texts_path %>
