<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @text.content %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @text.phone_number %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
