<p id="notice"><%= @language['Notice'] %></p>

<p>
  <strong><%= @language['Content'] %>:</strong>
  <%= @text.content %>
</p>

<p>
  <strong><%= @language['Number'] %>:</strong>
  <%= @text.number %>
</p>

<p>
  <strong><%= @language['Work request'] %>:</strong>
  <%= @text.bmet_work_order_id %>
</p>

<%= link_to @language['Edit'], edit_text_path(@text) %> |
<%= link_to @language['Back'], texts_path %>
