<h1><%= t(:listing).capitalize t(:need).capitalize.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name).capitalize%></th>
      <th><%= t(:location).capitalize%></th>
      <th><%= t(:model).capitalize%></th>
      <th><%= t(:quantity).capitalize%></th>
      <th><%= t(:urgency).capitalize%></th>
      <th><%= t(:reason).capitalize%></th>
      <th><%= t(:remarks).capitalize%></th>
      <th><%= t(:stage).capitalize%></th>
      <th><%= t(:date_requested).titlecase%></th>
      <th><%= t(:user).capitalize%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.name %></td>
        <td><%= need.department_id %></td>
        <td><%= need.bmet_model_id %></td>
        <td><%= need.quantity %></td>
        <td><%= need.urgency %></td>
        <td><%= need.reason %></td>
        <td><%= need.remarks %></td>
        <td><%= need.stage %></td>
        <td><%= need.date_requested %></td>
        <td><%= need.user_id %></td>
        <td><%= link_to t(:show).capitalize, bmet_need %></td>
        <td><%= link_to t(:edit).capitalize, edit_bmet_need_path(need) %></td>
        <td><%= link_to t(:destroy).capitalize, need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new).capitalize t(:need).capitalize, new_bmet_need_path %>
