<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @need.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @need.department_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @need.model_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @need.quantity %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @need.urgency %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @need.reason %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @need.remarks %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @need.stage %>
</p>

<p>
  <strong>Date requested:</strong>
  <%= @need.date_requested %>
</p>

<p>
  <strong>User:</strong>
  <%= @need.user_id %>
</p>

<%= link_to 'Edit', edit_bmet_need_path(@need) %> |
<%= link_to 'Back', bmet_needs_path %>
