<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @location.room %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @location.floor %>
</p>

<p>
  <strong>Building:</strong>
  <%= @location.building %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @location.facilities_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
