<header id="left-nav">
  <div id="logo"></div>
  <div id="app_type_label"> Zanhealth </div>
  <div id="login">
    <div id="bottom-buttons">
    <%= link_to current_user.name, edit_user_registration_path, :id => "current_user_name" %></br>    
    <div id="current_fac_name"><%= current_user.facility.name %></div>
    <span id="logout_button"><%= link_to t(:logout).capitalize, destroy_user_session_path, :method => :delete %></span>
    </div>
  </div>
  <ul id="left-nav_ul">
    <hr>
    <%= link_to(bmet_work_orders_url+"/unhidden") do %>
    <li class="left-nav_ul_li" >
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= t(:work_orders).titlecase %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(bmet_items_url) do %>
    <li class="left-nav_ul_li">
      <div id="inventory-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= t(:inventory).capitalize %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(bmet_preventative_maintenances_url+"/unhidden") do %>
    <li class="left-nav_ul_li">
      <% isRed = false %>
      <% BmetPreventativeMaintenance.all.each do |pm| %>
        <% if pm.requester.facility_id == current_user.facility_id and
          !BmetWorkOrder.where("pm_origin_id = ?", pm.id)[0] and
          pm.next_date and
          (pm.next_date - Time.zone.now).to_i/1.day < 1 %>
          <% isRed = true %>
          <% break %>
        <% end %>
      <% end %>
      <% if isRed %>
        <div id="preventative-maintenance-red-icon"></div>
      <% else %>
        <div id="preventative-maintenance-icon"></div>
      <% end %>
      <div class="wrapper">
        <div class="title">
          <%= t(:preventative_maintenance).titlecase %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <% end %>


    <hr>
    <%= link_to(bmet_work_requests_url+"/unhidden") do %>
    <li class="left-nav_ul_li">
      <% if BmetWorkRequest.where("facility_id =?", current_user.facility_id).where(:unread => true)[0] %>
        <div id="inbox-icon-red"></div>
      <% else %>
        <div id="inbox-icon"></div>
      <% end %>
      <div class="wrapper">
        <div class="title">
          <%= t(:work_requests).titlecase %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to("/bmet_dashboard") do %>
    <li class="left-nav_ul_li" >
      <div id="dashboard-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= t(:dashboard).capitalize %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>
    <hr>
  </ul>
      <div id="language-icons">
        <a href='?language=english'>English</a>
        <a href='?language=swahili'>Swahili</a> 
        <a href='?language=creole'>Creole</a> 
      </div>

      <div id= "settings-icon">
        <a href='/settings'>Settings</a>
      </div>
      
</header>
