<header id="left-nav">
  <div id="logo"></div>
  <div id="app_type_label"> Zanhealth BMET </div>
  <div id="login">
    <div id="bottom-buttons">
        <%= link_to current_user.name, edit_user_registration_path, :id => "current_user_name" %></br>
        <%= link_to current_user.facility.name, "#", :id => "current_fac_name" %></br>
        <span id="logout_button"><%= link_to @language['Logout'], destroy_user_session_path, :method => :delete %></span>
    </div>
  </div>
  <ul id="left-nav_ul">
    <hr>
    <%= link_to(bmet_work_orders_url+"/unhidden") do %>
    <li class="left-nav_ul_li" >
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Work Orders'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(bmet_items_url) do %>
    <li class="left-nav_ul_li">
      <div id="inbox-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Items'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(bmet_preventative_maintenances_url+"/unhidden") do %>
    <li class="left-nav_ul_li">
      <div id="preventative-maintenance-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Preventative Maintenance'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <% end %>


    <hr>
    <%= link_to(bmet_work_requests_url+"/unhidden") do %>
    <li class="left-nav_ul_li">
      <div id="inbox-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Work Requests'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to("/bmet_dashboard") do %>
    <li class="left-nav_ul_li" >
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Dashboard'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>
    <hr>
  </ul>
      <div id="language-icons">
        <a href='?language=english'>English</a>
        <a href='?language=swahili'>Swahili</a> 
        <a href='?language=creole'>Creole</a> 
      </div>

      <div id= "settings-icon">
        <a href='/settings'>Settings</a>
      </div>
      
</header>
