<header id="left-nav">
  <div id="logo"></div>
  <div id="login"></div>
  <ul id="left-nav_ul">
    <hr>
    <%= link_to(facility_work_orders_url) do %>
    <li class="left-nav_ul_li" >
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          Work Order
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(facility_preventative_maintenances_url) do %>
    <li class="left-nav_ul_li">
      <div id="preventative-maintenance-icon"></div>
      <div class="wrapper">
        <div class="title">
          Preventative Maintenance
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <% end %>


    <hr>
    <%= link_to(facility_work_requests_url) do %>
    <li class="left-nav_ul_li">
      <div id="inbox-icon"></div>
      <div class="wrapper">
        <div class="title">
          Inbox
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>
    <hr>
  </ul>
</header>