<header id="left-nav">
  <div id="logo"></div>
  <div id="login">
    <div id="login-avatar"></div>
    <div id="bottom-buttons">
      <a href='/logout'><%= @language['LOGOUT'] %></a>
      <div id="language-icons">
        <a href='?language=english'>English</a>
        <a href='?language=swahili'>Swahili</a> 
        <a href='?language=creole'>Creole</a> 
      </div>
    </div>
  </div>
  <ul id="left-nav_ul">
    <hr>
    <%= link_to(facility_work_orders_url) do %>
    <li class="left-nav_ul_li" >
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Work Orders'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>

    <hr>
    <%= link_to(facility_preventative_maintenances_url) do %>
    <li class="left-nav_ul_li">
      <div id="preventative-maintenance-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Preventative Maintenance'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <% end %>


    <hr>
    <%= link_to(facility_work_requests_url) do %>
    <li class="left-nav_ul_li">
      <div id="inbox-icon"></div>
      <div class="wrapper">
        <div class="title">
          <%= @language['Work Requests'] %>
        </div>
      </div>
      <%= image_tag("rightarrow_white.png", class: "right-arrow") %>
    </li>
    <%end%>
    <hr>
  </ul>
</header>
