<!DOCTYPE html>
<html>
<head>
  <title>Med8</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user] %>
<header>
    <a href='/my_work_requests'>
        <%= @language['My Requests'] %>
    </a>
    <a href='/work_requests'>
        <%= @language['All Requests'] %>
	</a>

    <a href='/work_requests/new'>
       <%= @language['New Work Request'] %>
   </a>
    <a href='/items'>
        <%= @language['All Items'] %>
    </a>
    <a href='#'>
        <%= @language['Manage'] %>
    </a>
    <a href='/logout'>
        <%= @language['LOGOUT'] %>
    </a>
</header>
<div id='header-spacer'></div>
<% end %>

<div id='main'>

<%= yield %>

</div>

<footer>
  <a href='?language=english'>English</a> | 
  <a href='?language=swahili'>Swahili</a> | 
  <%= @language['Home']%> |
  <%= @language['About'] %> zanhealth |
  <%= @language['Contact Us']%> |
  © 2013 Med International
</footer>

</body>
</html>
