<!DOCTYPE html>
<html>
<head>
  <title>Zanhealth</title>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div id='main'>

  <%= yield %>

  </div>

  <footer class="footer">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <a href='?language=english'>English</a> | 
    <a href='?language=swahili'>Swahili</a> | 
    <%= link_to @language['Home'], '/' %> |
    <%= @language['About'] %> zanhealth |
    <%= link_to @language['Contact Us'], 'mailto:help@zanhealth.co' %> |
    © 2014 <%= link_to "Med International", "medinternational-us.org" %>
  </footer>

</body>
</html>
