<!DOCTYPE html>
<html>
<head>
  <title>Zanhealth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
</header>
<div id='header-spacer'></div>

<div id='main'>

<%= yield %>

</div>

<footer>
  <a href='?language=english'>English</a> | 
  <a href='?language=swahili'>Swahili</a> | 
  <%= @language['Home']%> |
  <%= @language['About'] %> zanhealth |
  <%= @language['Contact Us']%> |
  © 2013 Med International
</footer>

</body>
</html>
