<!DOCTYPE html>
<html>
<head>
  <title>Zanhealth</title>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='main'>

<%= yield %>

</div>

<footer>
  <a href='?language=english'>English</a> | 
  <a href='?language=swahili'>Swahili</a> | 
  <%= t(:home).capitalize%> |
  <%= t(:about).capitalize %> zanhealth |
  <%= t(:contact_us).titlecase%> |
  © 2014 Med International
</footer>

</body>
</html>
